<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryForm" :inline="true" v-show="showSearch" label-width="68px">
      <el-form-item label="合同编号" prop="conId">
        <el-select
        v-model="queryParams.conId"
        filterable
        remote
        clearable
        style="width: 600px;"
        reserve-keyword
        placeholder="请输入合同关键词"
        :remote-method="getConByName"
        @change="seleConChanged"
        :loading="loading">
        <el-option
          v-for="item in queryParams.conName"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      </el-form-item>
      <!--
      <el-form-item>
        <el-button type="cyan" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
      -->
    </el-form>
    <div style="border: solid 1px white; height: 40px; margin-top: -10px;">
      <el-divider content-position="left">合同整体信息</el-divider>
    </div>
    <el-form :model="conForm">
      <el-row>
        <el-col :span="4" style="height: 35px;">
          <el-form-item label="开始日期:">{{ conForm.conStartDate }}</el-form-item>
        </el-col>
        <el-col :span="4" style="height: 35px;">
          <el-form-item label="结束日期:">{{ conForm.conEndDate }}</el-form-item>
        </el-col>
        <el-col :span="4" style="height: 35px;">
          <el-form-item label="合同天数:">{{ conForm.conDays }}</el-form-item>
        </el-col>
        <el-col :span="4" style="height: 35px;">
          <el-form-item label="合同金额:">
            <count-to :start-val="0" :end-val="conForm.conMoney" :decimals="2" :duration="1000" class="card-panel-num" />
          </el-form-item>
        </el-col>
        <el-col :span="4" style="height: 35px;">
          <el-form-item label="账龄:">{{ conForm.jlAccAgeDis }}</el-form-item> 
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="4" style="height: 35px;">
          <el-form-item label="本年计划产值:">
            <count-to :start-val="0" :end-val="conForm.czYearPlan" :decimals="2" :duration="1000" class="card-panel-num" />
          </el-form-item>
        </el-col>
        <el-col :span="4" style="height: 35px;">
          <el-form-item label="累计产值金额:">
            <count-to :start-val="0" :end-val="conForm.czSum" :decimals="2" :duration="1000" class="card-panel-num" />
          </el-form-item>
        </el-col>
        <el-col :span="4" style="height: 35px;">
          <el-form-item label="累计批复金额:">
            <count-to :start-val="0" :end-val="conForm.pfSum" :decimals="2" :duration="1000" class="card-panel-num" />
          </el-form-item>
        </el-col>
        <el-col :span="4" style="height: 35px;">
          <el-form-item label="累计业主进款:">
            <count-to :start-val="0" :end-val="conForm.yzSum" :decimals="2" :duration="1000" class="card-panel-num" />
          </el-form-item>
        </el-col>
        <el-col :span="4" style="height: 35px;">
          <el-form-item label="累计债权:">
            <count-to :start-val="0" :end-val="conForm.zqSum" :decimals="2" :duration="1000" class="card-panel-num" />
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="4" style="height: 40px;">
          <el-form-item label="累计本公司划拨:">
            <count-to :start-val="0" :end-val="conForm.bgsSum" :decimals="2" :duration="1000" class="card-panel-num" />
          </el-form-item>
        </el-col>
        <el-col :span="4" style="height: 40px;">
          <el-form-item label="累计应拨款:">
            <count-to :start-val="0" :end-val="conForm.ybSum" :decimals="2" :duration="1000" class="card-panel-num" />
          </el-form-item>
        </el-col>
        <el-col :span="4" style="height: 40px;">
          <el-form-item label="累计实拨款:">
            <count-to :start-val="0" :end-val="conForm.sbSum" :decimals="2" :duration="1000" class="card-panel-num" />
          </el-form-item>
        </el-col>
        <el-col :span="4" style="height: 40px;">
          <el-form-item label="累计欠款:">
            <count-to :start-val="0" :end-val="conForm.qkSum" :decimals="2" :duration="1000" class="card-panel-num" />
          </el-form-item> 
        </el-col>
      </el-row>
    </el-form>

    <!--main table-->
    <el-tabs type="border-card">
      <!--产值计划-->
      <el-tab-pane label="年计划产值">    
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAddJHCZ"
              v-hasPermi="['szgc:yzpayment:add']"
            >新增</el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="jhczmultiple"
              @click="handleDeleteJHCZ"
              v-hasPermi="['szgc:yzpayment:remove']"
            >删除</el-button>
          </el-col>
        </el-row>
    
        <el-table v-loading="loading" :data="jhczList" @selection-change="handleSelectionChangeJHCZ">
          <el-table-column type="selection" width="55" align="center" prop="czPlanId" />
          <el-table-column label="编号" align="center" prop="czPlanNo"/>
          <el-table-column label="年份" align="center" prop="czPlanYear" />
          <el-table-column label="产值金额" align="center" prop="czPlanMoney" :formatter="moneyFormat"/>
          <el-table-column label="备注" align="left" prop="czPlanMemo" />
          <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="handleUpdateJHCZ(scope.row)"
                v-hasPermi="['szgc:yzpayment:edit']"
              >修改</el-button>
              <el-button
                size="mini"
                type="text"
                icon="el-icon-delete"
                @click="handleDeleteJHCZ(scope.row)"
                v-hasPermi="['szgc:yzpayment:remove']"
              >删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <!--业主产值-->
      <el-tab-pane label="产值">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAddCZ"
              v-hasPermi="['szgc:yzpayment:add']"
            >新增</el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="czmultiple"
              @click="handleDeleteCZ"
              v-hasPermi="['szgc:yzpayment:remove']"
            >删除</el-button>
          </el-col>
        </el-row>
        <el-table v-loading="loading" :data="czList" @selection-change="handleSelectionChangeCZ">
          <el-table-column type="selection" width="55" align="center" prop="czId" />
          <el-table-column label="编号" align="center" prop="czCustNo" />
          <el-table-column label="产值日期" align="center" prop="czDate">
            <template slot-scope="scope">
              <span>{{ parseTime(scope.row.czDate, '{y}-{m}-{d}') }}</span>
            </template>
          </el-table-column>
          <el-table-column label="产值" align="center" prop="czMoney" :formatter="moneyFormat"/>
          <el-table-column label="备注" align="left" prop="czMemo" />
          <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="handleUpdateCZ(scope.row)"
                v-hasPermi="['szgc:yzpayment:edit']"
              >修改</el-button>
              <el-button
                size="mini"
                type="text"
                icon="el-icon-delete"
                @click="handleDeleteCZ(scope.row)"
                v-hasPermi="['szgc:yzpayment:remove']"
              >删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <!--业主计量-->
      <el-tab-pane label="计量">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAddJL"
              v-hasPermi="['szgc:yzpayment:add']"
            >新增计量</el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button
              type="success"
              icon="el-icon-edit"
              size="mini"
              @click="handleAddJS"
              v-hasPermi="['szgc:yzpayment:add']"
            >新增决算</el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="jlmultiple"
              @click="handleDeleteJL"
              v-hasPermi="['szgc:yzpayment:remove']"
            >删除</el-button>
          </el-col>
        </el-row>
        <el-table v-loading="loading" :data="jlList" @selection-change="handleSelectionChangeJL" :row-class-name="tableRowClassName">
          <el-table-column type="selection" width="55" align="center" prop="jlId" />
          <el-table-column label="编号" align="center" prop="jlCustNo" />
          <el-table-column label="类型" align="center" prop="jlType" :formatter="typeFormat" />
          <el-table-column label="计量日期" align="center" prop="jlDate" width="100" >
            <template slot-scope="scope">
              <span>{{ parseTime(scope.row.jlDate, '{y}-{m}-{d}') }}</span>
            </template>
          </el-table-column>
          <el-table-column label="收件日期" align="center" prop="jlRegDate" width="100" >
            <template slot-scope="scope">
              <span>{{ parseTime(scope.row.jlRegDate, '{y}-{m}-{d}') }}</span>
            </template>
          </el-table-column>
          <el-table-column label="批复金额" align="center" prop="jlPf" :formatter="moneyFormat" />
          <el-table-column label="备注" align="left" prop="jlMemo" />
          <el-table-column label="操作" align="center" class-name="small-padding fixed-width" min-width="120">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="handleUpdateJL(scope.row)"
                v-hasPermi="['szgc:yzpayment:edit']"
              >修改</el-button>
              <el-button
                size="mini"
                type="text"
                icon="el-icon-upload"
                @click="handleUpload(scope.row, 1)"
                v-hasPermi="['szgc:yzpayment:edit']"
              >上传</el-button>
              <el-button
                size="mini"
                type="text"
                icon="el-icon-delete"
                @click="handleDeleteJL(scope.row)"
                v-hasPermi="['szgc:yzpayment:remove']"
              >删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <!-- 业主进款 -->
      <el-tab-pane label="业主进款">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAddJK"
              v-hasPermi="['szgc:yzpayment:add']"
            >新增业主进款</el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="jkmultiple"
              @click="handleDeleteJK"
              v-hasPermi="['szgc:yzpayment:remove']"
            >删除</el-button>
          </el-col>
          <div class="top-right-btn">
            <el-row>
                <el-checkbox v-model="showJK">进款明细</el-checkbox>
                <el-checkbox v-model="showGSKC">公司扣除</el-checkbox>
            </el-row>
          </div>
        </el-row>
        <el-table v-loading="loading" :data="jkList" @selection-change="handleSelectionChangeJK">
          <el-table-column type="selection" width="55" align="center" prop="jkId" />
          <el-table-column label="编号" align="center" prop="jkCustNo" width="60" />
          <el-table-column label="进款日期" align="center" prop="jkDate" >
            <template slot-scope="scope">
              <span>{{ parseTime(scope.row.jkDate, '{y}-{m}-{d}') }}</span>
            </template>
          </el-table-column>
          <el-table-column v-if="showJK" label="预付款" align="center" prop="jkYfk" :formatter="moneyFormat" />
          <el-table-column v-if="showJK" label="工程款" align="center" prop="jkGck" :formatter="moneyFormat" />
          <el-table-column v-if="showJK" label="农民工" align="center" prop="jkNmg" :formatter="moneyFormat" />
          <el-table-column label="业主进款" align="center" prop="jkSum" :formatter="moneyFormat" />
          <!--<el-table-column label="分公司划拨" align="center" prop="jkFGS" :formatter="moneyFormat" />-->
          <el-table-column label="分公司划拨" align="center" width="120">
          <template slot-scope="scope">
            <el-popover v-if="scope.row.jkFGS > 0" trigger="hover" placement="right">
              <p v-for="(item, index) in scope.row.jkCmpFGS">
                <span v-if="item.cmpMoney > 0" v-html="tempFormatCmp(item.cmpName, item.cmpMoney)"></span>
              </p>
              <div slot="reference" class="name-wrapper">
                <el-tag size="medium" v-html="tempFormat(scope.row.jkFGS)"></el-tag>
              </div>
            </el-popover>
            <span v-else>0</span>
          </template>
          </el-table-column>
          <el-table-column label="本公司划拨" align="center" prop="jkBGS" :formatter="moneyFormat" />
          <el-table-column v-if="showGSKC" label="税费" align="center" prop="jkSf" :formatter="moneyFormat" />
          <el-table-column v-if="showGSKC" label="管理费" align="center" prop="jkGlf" :formatter="moneyFormat" />
          <el-table-column v-if="showGSKC" label="利润" align="center" prop="jkLr" :formatter="moneyFormat" />
          <el-table-column label="总公司应付" align="center" prop="jkYb" :formatter="moneyFormat" />
          <el-table-column label="操作" align="center" class-name="small-padding fixed-width" min-width="120">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="handleUpdateJK(scope.row)"
                v-hasPermi="['szgc:yzpayment:edit']"
              >修改</el-button>
              <el-button
                size="mini"
                type="text"
                icon="el-icon-upload"
                @click="handleUpload(scope.row, 2)"
                v-hasPermi="['szgc:yzpayment:edit']"
              >上传</el-button>
              <el-button
                size="mini"
                type="text"
                icon="el-icon-delete"
                @click="handleDeleteJK(scope.row)"
                v-hasPermi="['szgc:yzpayment:remove']"
              >删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <!-- 二分公司进款 -->
      <el-tab-pane label="二分公司进款">
        <el-row :gutter="10" class="mb8">
          <el-col :span="1.5">
            <el-button
              type="primary"
              icon="el-icon-plus"
              size="mini"
              @click="handleAddBK"
              v-hasPermi="['szgc:yzpayment:add']"
            >新增进款</el-button>
          </el-col>
          <el-col :span="1.5">
            <el-button
              type="danger"
              icon="el-icon-delete"
              size="mini"
              :disabled="bkmultiple"
              @click="handleDeleteBK"
              v-hasPermi="['szgc:yzpayment:remove']"
            >删除</el-button>
          </el-col>
        </el-row>
        <el-table v-loading="loading" :data="bkList" @selection-change="handleSelectionChangeBK">
          <el-table-column type="selection" width="55" align="center" prop="bkId" />
          <el-table-column label="编号" align="center" prop="bkCustNo"  />
          <el-table-column label="拨款日期" align="center" prop="bkDate" >
            <template slot-scope="scope">
              <span>{{ parseTime(scope.row.bkDate, '{y}-{m}-{d}') }}</span>
            </template>
          </el-table-column>
          <el-table-column label="工程款" align="center" prop="bkGck" :formatter="moneyFormat" />
          <el-table-column label="农民工" align="center" prop="bkNmg" :formatter="moneyFormat" />
          <el-table-column label="实付款" align="center" prop="bkSf" :formatter="moneyFormat" />
          <el-table-column label="备注" align="left" prop="bkMemo" />
          <el-table-column label="操作" align="center" class-name="small-padding fixed-width" min-width="120">
            <template slot-scope="scope">
              <el-button
                size="mini"
                type="text"
                icon="el-icon-edit"
                @click="handleUpdateBK(scope.row)"
                v-hasPermi="['szgc:yzpayment:edit']"
              >修改</el-button>
              <el-button
                size="mini"
                type="text"
                icon="el-icon-upload"
                @click="handleUpload(scope.row, 3)"
                v-hasPermi="['szgc:yzpayment:edit']"
              >上传</el-button>
              <el-button
                size="mini"
                type="text"
                icon="el-icon-delete"
                @click="handleDeleteBK(scope.row)"
                v-hasPermi="['szgc:yzpayment:remove']"
              >删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>

    <el-dialog title="公司内部划拨" :visible.sync="openCmpPay" width="600px" append-to-body>
      <el-form ref="cmpForm" :model="cmpForm" :rules="rules" label-width="120px">
        <el-form-item 
          v-for="(item, index) in cmpForm.cmpJLPay"
          :key = "item.cmpId"
          :label="item.cmpName + ':'"
          :prop="'cmpJLPay.' + index + '.cmpMoney'"
          :rules="rules.cmpMoney"
          >
          <el-input v-model="item.cmpMoney" placeholder="请输入划拨金额" @blur="setInputMoney($event)"/>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitCmpForm">完 成</el-button>
        <el-button @click="cmpCancel">取 消</el-button>
      </div>
    </el-dialog>

    <el-dialog :title="upload.title" :visible.sync="upload.open" width="400px" append-to-body>
      <el-upload ref="upload" :limit="10" :headers="upload.headers" 
      :action="upload.url" :disabled="upload.isUploading" 
      :on-progress="handleFileUploadProgress" :on-success="handleFileSuccess" :auto-upload="false" drag>
        <i class="el-icon-upload"></i>
        <div class="el-upload__text">
          将文件拖到此处，或
          <em>点击上传</em>
        </div>
      </el-upload>
      <el-table :data="upload.fileList" :show-header="false" v-show="upload.fileList.length > 0">
        <el-table-column width="300" property="fileName" label="">
          <template slot-scope="scope">
            <span> {{ scope.row.fileName }} </span>
          </template>
        </el-table-column>
        <el-table-column min-width="20" label="">
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="text"
              icon="el-icon-download"
              @click="downLoadFile(scope.$index, scope.row)"
            ></el-button>
          </template>
        </el-table-column>
        <el-table-column min-width="20" label="">
          <template slot-scope="scope">
            <el-button
              size="mini"
              type="text"
              icon="el-icon-delete"
              @click="deleteUpload(scope.$index, scope.row)"
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitFileForm">确 定</el-button>
        <el-button @click="upload.open = false">取 消</el-button>
      </div>
    </el-dialog>

    <!-- 添加或修改产值计划对话框 -->
    <el-dialog :title="jhcztitle" :visible.sync="openJHCZ" width="500px" append-to-body>
      <el-form ref="jhczform" :model="jhczform" :rules="rules" label-width="80px">
        <el-form-item label="编号" prop="czPlanNo">
          <el-input v-model="jhczform.czPlanNo" placeholder="请输入计划客户编号" />
        </el-form-item>
        <el-form-item label="年份" prop="czPlanYear">
          <el-date-picker clearable size="small" style="width: 200px"
            v-model="jhczform.czPlanYear"
            type="year"
            value-format="yyyy"
            placeholder="选择年份">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="产值金额" prop="czPlanMoney">
          <el-input v-model="jhczform.czPlanMoney" placeholder="请输入计划金额" @blur="setInputMoney($event)" />
        </el-form-item>
        <el-form-item label="备注" prop="czPlanMemo">
          <el-input v-model="jhczform.czPlanMemo" rows="3" type="textarea" placeholder="请输入内容" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitJHCZForm">确 定</el-button>
        <el-button @click="cancelJHCZ">取 消</el-button>
      </div>
    </el-dialog>

    <!-- cz -->
    <el-dialog :title="cztitle" :visible.sync="openCZ" width="500px" append-to-body>
      <el-form ref="czform" :model="czform" :rules="rules" label-width="80px">
        <el-form-item label="产值编号" prop="czCustNo">
          <el-input v-model="czform.czCustNo" placeholder="请输入产值编号" />
        </el-form-item>
        <el-form-item label="产值日期" prop="czDate">
          <el-date-picker clearable size="small" style="width: 200px"
            v-model="czform.czDate"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="选择产值日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="产值金额" prop="czMoney">
          <el-input v-model="czform.czMoney" placeholder="请输入产值金额" @blur="setInputMoney($event)" />
        </el-form-item>
        <el-form-item label="备注" prop="czMemo">
          <el-input v-model="czform.czMemo" type="textarea" rows="3" placeholder="请输入内容" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitCZForm">确 定</el-button>
        <el-button @click="cancelCZ">取 消</el-button>
      </div>
    </el-dialog>

    <!-- jl -->
    <el-dialog :title="jltitle" :visible.sync="openJL" width="500px" append-to-body>
      <el-form ref="jlform" :model="jlform" :rules="rules" label-width="80px">
        <el-form-item label="计量编号" prop="jlCustNo">
          <el-input v-model="jlform.jlCustNo" placeholder="请输入计量编号" />
        </el-form-item>
        <el-form-item label="计量日期" prop="jlDate">
          <el-date-picker clearable style="width: 200px"
            v-model="jlform.jlDate"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="选择计量日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="收件日期" prop="jlRegDate">
          <el-date-picker clearable style="width: 200px"
            v-model="jlform.jlRegDate"
            type="date"
            value-format="yyyy-MM-dd"
            placeholder="选择计量日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="批复" prop="jlPf">
          <el-input v-model="jlform.jlPf" placeholder="请输入批复" @blur="setInputMoney($event)" />
        </el-form-item>
        <el-form-item label="备注" prop="jlMemo">
          <el-input type="textarea" :rows="3" v-model="jlform.jlMemo" placeholder="请输入备注" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitJLForm">确 定</el-button>
        <el-button @click="cancelJL">取 消</el-button>
      </div>
    </el-dialog>

    <!-- jk -->
    <el-dialog :title="jktitle" :visible.sync="openJK" width="800px" append-to-body>
      <el-form ref="jkform" :model="jkform" :rules="rules" label-width="100px">
        <el-divider content-position="left">业主进款</el-divider>
        <el-row>
          <el-col :span="12">
            <el-form-item label="进款编号" prop="jkCustNo">
              <el-input v-model="jkform.jkCustNo" placeholder="请输入进款编号" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="进款日期" prop="jkDate">
              <el-date-picker clearable style="width: 280px"
                v-model="jkform.jkDate"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择进款日期">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="8">
            <el-form-item label="预付款" prop="jkYfk">
              <el-input v-model="jkform.jkYfk" placeholder="请输入预付款" @blur="setInputMoney($event);calculateJKMoney();" />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="工程款" prop="jkGck">
              <el-input v-model="jkform.jkGck" placeholder="请输入工程款" @blur="setInputMoney($event);calculateJKMoney();" />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="农民工" prop="jkNmg">
              <el-input v-model="jkform.jkNmg" placeholder="请输入农民工" @blur="setInputMoney($event);calculateJKMoney();" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="累计计量批复" prop="jkSumPF">
              {{ jkform.jkSumPF }}
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="业主进款" prop="jkSum">
              <el-input v-model="jkform.jkSum" placeholder="请输入业主进款" @blur="setInputMoney($event);calculateJKMoney();" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-divider content-position="left">公司划拨</el-divider>
        <el-row>
          <el-col :span="12">
            <el-form-item label="分公司划拨" prop="jkFGS">
              <el-input v-model="jkform.jkFGS" placeholder="请输入分公司划拨" readonly style="width: 220px; margin-right: 10px;" />
              <el-button type="primary" size="mini" icon="el-icon-share" @click="handleJLCmp"></el-button>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="本公司划拨" prop="jkBGS">
              <el-input v-model="jkform.jkBGS" placeholder="请输入本公司划拨" @blur="setInputMoney($event);calculateJKMoney();"/>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="税率(%)" prop="jkSl">
              <el-input v-model="jkform.jkSl" placeholder="请输入税率" @blur="calculateSL();" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="税费" prop="jkSf">
              <el-input v-model="jkform.jkSf" placeholder="请输入税费" @blur="setInputMoney($event);calculateJKYBMoney();" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="管理费率(%)" prop="jkGlfl">
              <el-input v-model="jkform.jkGlfl" placeholder="请输入管理费率" @blur="calculateGLF();" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="管理费" prop="jkGlf">
              <el-input v-model="jkform.jkGlf" placeholder="请输入管理费" @blur="setInputMoney($event);calculateJKYBMoney();" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="利润率(%)" prop="jkLrl">
              <el-input v-model="jkform.jkLrl" placeholder="请输入利润率" @blur="calculateLR();" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="利润" prop="jkLr">
              <el-input v-model="jkform.jkLr" placeholder="请输入利润" @blur="setInputMoney($event);calculateJKYBMoney();" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item label="应拨款" prop="jkYb">
          <el-input v-model="jkform.jkYb" placeholder="请输入应付款" @blur="setInputMoney($event);" />
        </el-form-item>
        <el-form-item label="备注" prop="jkMemo">
          <el-input type="textarea" :rows="3" v-model="jkform.jkMemo" placeholder="请输入备注" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitJKForm">确 定</el-button>
        <el-button @click="cancelJK">取 消</el-button>
      </div>
    </el-dialog>
  
    <!-- bk -->
    <el-dialog :title="bktitle" :visible.sync="openBK" width="800px" append-to-body>
      <el-form ref="bkform" :model="bkform" :rules="rules" label-width="100px">
        <el-row>
          <el-col :span="12">
            <el-form-item label="拨款编号" prop="bkCustNo">
              <el-input v-model="bkform.bkCustNo" placeholder="请输入拨款编号" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="拨款日期" prop="bkDate">
              <el-date-picker clearable style="width: 280px"
                v-model="bkform.bkDate"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择拨款日期">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="工程款" prop="bkGck">
              <el-input v-model="bkform.bkGck" placeholder="请输入工程款" @blur="setInputMoney($event);calculateBKMoney();" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="农民工" prop="bkNmg">
              <el-input v-model="bkform.bkNmg" placeholder="请输入农民工" @blur="setInputMoney($event);calculateBKMoney();" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="累计计量批复" prop="bkSumPF">
              {{ bkform.bkSumPF }}
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="累计业主进款" prop="bkSumJK">
              {{ bkform.bkSumJK }}
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="累计应付款" prop="bkSumYF">
              {{ bkform.bkSumYF }}
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="实付款" prop="bkSf">
              <el-input v-model="bkform.bkSf" placeholder="请输入实付款" @blur="setInputMoney($event)" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item label="拨款备注" prop="bkMemo">
          <el-input type="textarea" :rows="3" v-model="bkform.bkMemo" placeholder="请输入备注" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitBKForm">确 定</el-button>
        <el-button @click="cancelBK">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<style>
    .el-table .js-row {
    background: #f0f9eb;
  }
</style>

<script>
import { getToken } from "@/utils/auth";
import { listYzpayment, getInitData, getYzpayment, getYzpaymentByConId, delYzpayment, 
  addYzpayment, updateYzpayment, exportYzpayment, getSelectContract, getJLConSum, getJLYZCmpList,
  saveYZJLCmpList, saveUploadFile, getJLUploadFiles, deleteUploadFile, downloadFile } from "@/api/szgc_jl/yzpayment";
import CountTo from 'vue-count-to';
import { formatMoney, getInputValue, setMoneyText, delcommafy, comdify, isEmptyMoney, getMoneyValue } from '@/utils/index'

import { listYzcz, getYzcz, delYzcz, addYzcz, updateYzcz, exportYzcz } from "@/api/szgc_jl/yzcz";
import { listYzjl, getYzjl, delYzjl, addYzjl, updateYzjl } from "@/api/szgc_jl/yzjl";
import { listYzjk, getYzjk, delYzjk, addYzjk, updateYzjk } from "@/api/szgc_jl/yzjk";
import { listZgsbk, getZgsbk, delZgsbk, addZgsbk, updateZgsbk } from "@/api/szgc_jl/zgsbk";
import { listYzczplan, getYzczplan, delYzczplan, addYzczplan, updateYzczplan, exportYzczplan } from "@/api/szgc_jl/yzczplan";

export default {
  name: "Yzpayment",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [], //old
      jhczIds: [],
      czIds: [],
      jlIds: [],
      jkIds: [],
      bkIds: [],
      // 非单个禁用
      jhczsingle: true,
      czsingle: true,
      jlsingle: true,
      jksingle: true,
      bksingle: true,
      // 非多个禁用
      jhczmultiple: true,
      czmultiple: true,
      jlmultiple: true,
      jkmultiple: true,
      bkmultiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      jhcztotal: 0,
      cztotal: 0,
      jltotal: 0,
      jktotal: 0,
      bktotal: 0,
      // 业主计量表格数据
      jhczList:[],
      czList:[],
      jlList:[],
      jkList:[],
      bkList:[],
      // 计量明细 税费 管理费
      jldetails: [],
      // 合同类型
      conType: 1,  //important
      jlsteps:{
        validateCol:[
          ['jlCustomNum', 'jlDate', 'czMoney', 'yfMoney', 'gcMoney', 'nmgMoney', 'jlMoney', 'jlPay'],
          ['jlBGSMoney', 'jlBGSPay'],
          ['slRate', 'slMoney', 'glfRate', 'glfMoney', 'lrRate', 'lrMoney', 'needPay', 'realPay'],
          []
        ],
        currentStep: 0,
        step1: false,
        step2: false,
        step3: false,
        step4: false,
        stepprevious: false,
        stepnext: false,
        setpfinish: false
      },
      // 弹出层标题
      title: "",  //old
      jhcztitle: "",
      cztitle: "",
      jltitle: "",
      jktitle: "",
      bktitle: "",
      // 是否显示弹出层
      openCmpPay: false, //old
      openJHCZ: false,
      openCZ: false,
      openJL: false,
      openJK: false,
      openBK: false,
      //show columns
      showJK: false,
      showGSKC: false,
      //上传数据
      upload: {
        open: false,
        title: "",
        isUploading: false,
        updateSupport: 0,
        headers: { Authorization: "Bearer " + getToken() },
        url: process.env.VUE_APP_BASE_API + "/common/upload",
        uploadId: null,
        jlId: null,
        filetype: null,
        fileList: [],
        upfile: { uploadId: null, jlId:null, fileType: null, fileName:null, fileUrl: null, fileId: null }
      },
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10000,
        conId: null,
        conName: [],
        conSelName: ""
      },
      queryZQ:{
        conId: 0
      },
      // 合同信息  old
      conForm:{
        conStartDate: null,
        conEndDate: null,
        conDays: null,
        conMoney: null,   //合同金额
        czYearPlan: null, //本年计划产值
        czSum: null, //累计产值金额
        pfSum: null, //累计批复金额
        yzSum: null, //累计业主支付金额
        zqSum: null, //外部债权
        bgsSum: null, //本公司划拨
        ybSum: null, //应拨款
        sbSum: null, //实际拨款
        qkSum: null, //累计欠款
        jlAccountAge: null,
        jlAccAgeDis: "",
        jlLastSL: null,
        jlLastGLF: null,
        jlLastLR: null
      },
      // 分公司计量  old
      cmpForm: {
        dialotType: 0,
        cmpJLMoney:[],
        cmpJLPay:[]
      },
      // 表单参数
      form: {}, //old
      jhczform:{},
      czform:{},
      jlform: {},
      jkform: {},
      jkformCopy:{},
      bkform: {},
      // 表单校验
      rules: {
        //czjh
        czPlanNo: [
          { required: true, message: "请输入编号", trigger: "blur" },
        ],
        czPlanYear: [
          { required: true, message: "请选择年份", trigger: "blur" },
        ],
        czPlanMoney: [
          { required: true, message: "请输入本年计划产值", trigger: "blur" },
          {
            pattern: /(^-?([0-9]+|[0-9]{1,3}(,[0-9]{3})*)(.[0-9]{1,2})?$)/,
            message: "请输入正确的金额",
            trigger: "blur",
          }
        ],        
        //cz
        czCustNo: [
          { required: true, message: "请输入编号", trigger: "blur" },
        ],
        czDate: [
          { required: true, message: "请选择结算日期", trigger: "blur" },
        ],
        czMoney: [
          { required: true, message: "请输入本次产值", trigger: "blur" },
          {
            pattern: /(^-?([0-9]+|[0-9]{1,3}(,[0-9]{3})*)(.[0-9]{1,2})?$)/,
            message: "请输入正确的金额",
            trigger: "blur",
          }
        ],
        //jl
        jlCustNo: [
          { required: true, message: "请输入编号", trigger: "blur" },
        ],
        jlDate: [
          { required: true, message: "请选择计量日期", trigger: "blur" },
        ],
        jlRegDate: [
          { required: true, message: "请选择收件日期", trigger: "blur" },
        ],
        jlPf: [
          { required: true, message: "请输入本次批复金额", trigger: "blur" },
          {
            pattern: /(^-?([0-9]+|[0-9]{1,3}(,[0-9]{3})*)(.[0-9]{1,2})?$)/,
            message: "请输入正确的金额",
            trigger: "blur",
          }
        ],
        //jk
        jkCustNo: [
          { required: true, message: "请输入编号", trigger: "blur" },
        ],
        jkDate: [
          { required: true, message: "请选择进款日期", trigger: "blur" },
        ],
        jkYfk:[
          { required: true, message: "请输入预付款", trigger: "blur" },
          {
            pattern: /(^-?([0-9]+|[0-9]{1,3}(,[0-9]{3})*)(.[0-9]{1,2})?$)/,
            message: "请输入正确的金额",
            trigger: "blur",
          }
        ],
        jkGck:[
          { required: true, message: "请输入预付款", trigger: "blur" },
          {
            pattern: /(^-?([0-9]+|[0-9]{1,3}(,[0-9]{3})*)(.[0-9]{1,2})?$)/,
            message: "请输入正确的金额",
            trigger: "blur",
          }
        ],
        jkNmg:[
          { required: true, message: "请输入预付款", trigger: "blur" },
          {
            pattern: /(^-?([0-9]+|[0-9]{1,3}(,[0-9]{3})*)(.[0-9]{1,2})?$)/,
            message: "请输入正确的金额",
            trigger: "blur",
          }
        ],
        jkSum: [
          { required: true, message: "请输入业主进款金额", trigger: "blur" },
          {
            pattern: /(^-?([0-9]+|[0-9]{1,3}(,[0-9]{3})*)(.[0-9]{1,2})?$)/,
            message: "请输入正确的金额",
            trigger: "blur",
          }
        ],
        jkFGS: [
          //{ required: true, message: "请输入二分公司分劈计量", trigger: "blur" },
          {
            pattern: /(^-?([0-9]+|[0-9]{1,3}(,[0-9]{3})*)(.[0-9]{1,2})?$)/,
            message: "请输入正确的金额",
            trigger: "blur",
          }
        ],
        jkBGS: [
          { required: true, message: "请输入二分公司划拨", trigger: "blur" },
          {
            pattern: /(^-?([0-9]+|[0-9]{1,3}(,[0-9]{3})*)(.[0-9]{1,2})?$)/,
            message: "请输入正确的金额",
            trigger: "blur",
          }
        ],
        jkSl: [
          { required: true, message: "请输入税率", trigger: "blur" },
          {
            pattern: /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/,
            message: "请输入正确的数字",
            trigger: "blur",
          }
        ],
        jkSf: [
          { required: true, message: "请输入税金", trigger: "blur" },
          {
            pattern: /(^-?([0-9]+|[0-9]{1,3}(,[0-9]{3})*)(.[0-9]{1,2})?$)/,
            message: "请输入正确的金额",
            trigger: "blur",
          }
        ],
        jkGlfl: [
          { required: true, message: "请输入管理费率", trigger: "blur" },
          {
            pattern: /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/,
            message: "请输入正确的数字",
            trigger: "blur",
          }
        ],
        jkGlf: [
          { required: true, message: "请输入管理费", trigger: "blur" },
          {
            pattern: /(^-?([0-9]+|[0-9]{1,3}(,[0-9]{3})*)(.[0-9]{1,2})?$)/,
            message: "请输入正确的金额",
            trigger: "blur",
          }
        ],
        jkLrl: [
          { required: true, message: "请输入利润率", trigger: "blur" },
          {
            pattern: /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/,
            message: "请输入正确的数字",
            trigger: "blur",
          }
        ],
        jkLr: [
          { required: true, message: "请输入利润", trigger: "blur" },
          {
            pattern: /(^-?([0-9]+|[0-9]{1,3}(,[0-9]{3})*)(.[0-9]{1,2})?$)/,
            message: "请输入正确的金额",
            trigger: "blur",
          }
        ],
        jkYb: [
          { required: true, message: "请输入本次应拨款金额", trigger: "blur" },
          {
            pattern: /(^-?([0-9]+|[0-9]{1,3}(,[0-9]{3})*)(.[0-9]{1,2})?$)/,
            message: "请输入正确的金额",
            trigger: "blur",
          }
        ],
        //bk
        bkCustNo: [
          { required: true, message: "请输入拨款编号", trigger: "blur" },
        ],
        bkDate: [
          { required: true, message: "请选择拨款日期", trigger: "blur" },
        ],
        bkGck:[
          { required: true, message: "请输入工程款", trigger: "blur" },
          {
            pattern: /(^-?([0-9]+|[0-9]{1,3}(,[0-9]{3})*)(.[0-9]{1,2})?$)/,
            message: "请输入正确的金额",
            trigger: "blur",
          }
        ],
        bkNmg:[
          { required: true, message: "请输入农民工款", trigger: "blur" },
          {
            pattern: /(^-?([0-9]+|[0-9]{1,3}(,[0-9]{3})*)(.[0-9]{1,2})?$)/,
            message: "请输入正确的金额",
            trigger: "blur",
          }
        ],
        bkSf: [
          { required: true, message: "请输入实付金额", trigger: "blur" },
          {
            pattern: /(^-?([0-9]+|[0-9]{1,3}(,[0-9]{3})*)(.[0-9]{1,2})?$)/,
            message: "请输入正确的金额",
            trigger: "blur",
          }
        ],
        inputDate: [
          { required: true, message: "请选择结算日期", trigger: "blur" },
        ],

        cmpMoney: [
          //{ required: true, message: "请输入本次实际拨款金额", trigger: "blur" },
          {
            pattern: /(^-?([0-9]+|[0-9]{1,3}(,[0-9]{3})*)(.[0-9]{1,2})?$)/,
            message: "请输入正确的金额",
            trigger: ["blur", "change"],
          }
        ]
      }
    };
  },
  components: {
    CountTo
  },
  created() {
    this.getJHCZList();
    this.getCZList();
    this.getJLList();
    this.getJKList();
    this.getBKList();
  },

  methods: {
    setInputMoney(el){
      el.target.value = getInputValue(el);
    },
    tableRowClassName({row, rowIndex}) {
        if (row.jlType === 1) {
          return 'js-row';
        } 
        return '';
    },
    getJHCZList(){
      this.loading = true;
      this.queryZQ.conId = this.queryParams.conId;
      listYzczplan(this.queryZQ).then(response => {
        this.jhczList = response.rows;
        this.jhcztotal = response.total;
        this.loading = false;
      });
    },
    getCZList(){
      this.loading = true;
      this.queryZQ.conId = this.queryParams.conId;
      listYzcz(this.queryZQ).then(response => {
        this.czList = response.rows;
        this.cztotal = response.total;
        this.loading = false;
      });
    },
    getJLList(){
      this.loading = true;
      this.queryZQ.conId = this.queryParams.conId;
      listYzjl(this.queryZQ).then(response => {
        this.jlList = response.rows;
        this.jltotal = response.total;
        this.loading = false;
      });
    },
    getJKList() {
      this.loading = true;
      this.queryZQ.conId = this.queryParams.conId;
      listYzjk(this.queryZQ).then(response => {
        this.jkList = response.rows;
        this.jktotal = response.total;
        this.loading = false;
      });
    },
    getBKList() {
      this.loading = true;
      this.queryZQ.conId = this.queryParams.conId;
      listZgsbk(this.queryZQ).then(response => {
        this.bkList = response.rows;
        this.bktotal = response.total;
        this.loading = false;
      });
    },
    getJLConSumData(){
      var cid = this.queryParams.conId;
      getJLConSum(cid).then(response => {
        var con = response.data.contract;
        var jlSum = response.data.jlSumInfo;
        var sl = response.data.lastSL;
        var glf = response.data.lastGLF;
        var lr = response.data.lastLR;

        this.conForm.conStartDate = con.conStartDate;
        this.conForm.conEndDate = con.conEndDate;
        this.conForm.conMoney = con.conMoney;
        this.conForm.conDays = con.conDays + "天";
        this.cmpForm.cmpJLPay = JSON.parse(JSON.stringify(response.data.cmpList));
        this.cmpForm.cmpJLPay.forEach(c => {
          c.cmpMoney = null,
          c.payType = 1
        });

        if(jlSum == null){
          this.conForm.czYearPlan = 0;
          this.conForm.czSum = 0;
          this.conForm.pfSum = 0;
          this.conForm.yzSum = 0;
          this.conForm.zqSum = 0;
          this.conForm.bgsSum = 0;
          this.conForm.ybSum = 0;
          this.conForm.sbSum = 0;
          this.conForm.qkSum = 0;
          this.conForm.jlAccountAge = 0;
          this.conForm.jlAccAgeDis = null;
          this.conForm.jlLastSL = null;
          this.conForm.jlLastGLF = null;
          this.conForm.jlLastLR = null;
        }
        else{
          this.conForm.czYearPlan = jlSum.czYearPlan;
          this.conForm.czSum = jlSum.czSumMoney;
          this.conForm.pfSum = jlSum.pfSumMoney;
          this.conForm.yzSum = jlSum.yzPaySumMoney;
          this.conForm.zqSum = jlSum.zqSumMoney;
          this.conForm.bgsSum = jlSum.bgsSumMoney;
          this.conForm.ybSum = jlSum.ybSumMoney;
          this.conForm.sbSum = jlSum.sbSumMoney;
          this.conForm.qkSum = jlSum.qkSumMoney;
          this.conForm.jlAccountAge = jlSum.accountAges;
          this.accountAgesFormat(jlSum.accountAges);
          this.conForm.jlLastSL = (sl == 0? null : sl);
          this.conForm.jlLastGLF = (glf == 0? null : glf);
          this.conForm.jlLastLR = (lr == 0? null : lr);
        }
      });
    },
    //con change
    seleConChanged(val){
      let tmp = {};

      tmp = this.queryParams.conName.find(item => {
        return item.value == val;
      });

      this.queryParams.conSelName = tmp.label;
      this.getJHCZList();
      this.getCZList();
      this.getJLList();
      this.getJKList();
      this.getBKList();
      this.getJLConSumData();
    },
    typeFormat(row, column) {
      if (row.jlType == "0") {
        return "计量";
      }
      return "决算";
    },
    moneyFormat(row, column, cellValue, index){
      return formatMoney(cellValue, 2);
    },
    tempFormat(val){
      return formatMoney(val, 2);
    },
    tempFormatCmp(cname, cmoney){
      return cname + ': ' + formatMoney(cmoney, 2);
    },
    accountAgesFormat(age){
      if(age < 3){
        this.conForm.jlAccAgeDis = "3年以下";
      }

      if((age >= 3) && (age <= 5)){
        this.conForm.jlAccAgeDis = "3-5年";
      }

      if(age > 5){
        this.conForm.jlAccAgeDis = "5年以上";
      }
    },
    cancelJHCZ(){
      this,openJHCZ = false;
      this.resetJHCZ();
    },
    cancelJHCZ(){
      this.openJHCZ = false;
      this.resetJHCZ();
    },
    cancelCZ(){
      this.openCZ = false;
      this.resetCZ();
    },
    cancelJL(){
      this.openJL = false;
      this.resetJL();
    },
    cancelJK(){
      this.openJK = false;
      this.resetJK();
    },
    cancelBK(){
      this.openBK = false;
      this.resetBK();
    },
    handleJLCmp(){
      this.openCmpPay = true;
    },
    cmpCancel(){
        this.openCmpPay = false;
    },
    resetJKCmp(){
      this.cmpForm.cmpJLPay.forEach(c=>{
        c.cmpMoney = null;
      });
    },
    resetJHCZ(){
      this.jhczform = {
        czPlanId: null,
        conId: null,
        czPlanNo: null,
        czPlanYear: null,
        czPlanMoney: null,
        czPlanMemo: null
      };
      this.resetForm("jhczform");
    },
    resetCZ(){
      this.czform = {
        czId: null,
        conId: null,
        czCustNo: null,
        czDate: null,
        czMoney: null,
        czMemo: null
      };
      this.resetForm("czform");
    },
    resetJL(){
      this.jlform = {
        jlId: null,
        conId: null,
        jlCustNo: null,
        jlDate: null,
        jlType: null,
        jlCz: null,
        jlPf: null,
        jlMemo: null
      };
      this.resetForm("jlform");
    },
    resetJK(){
      this.jkform = {
        jkId: null,
        conId: null,
        jkCustNo: null,
        jkDate: null,
        jkYfk: null,
        jkGck: null,
        jkNmg: null,
        jkSumPF: null,
        jkSum: null,
        jkFGS: null,
        jkBGS: null,
        jkDate: null,
        jkSl: null,
        jkSf: null,
        jkGlfl: null,
        jkGlf: null,
        jkLrl: null,
        jkLr: null,
        jkYb: null,
        jkMemo: null,
        jkCmpFGS: []
      };
      this.resetForm("jkform");
    },
    resetBK(){
      this.bkform = {
        bkId: null,
        conId: null,
        bkCustNo: null,
        bkGck: null,
        bkNmg: null,
        bkYf: null,
        bkSf: null,
        bkDate: null,
        bkMemo: null,
        bkSumPF: null,
        bkSumJK: null,
        bkSumYF: null
      };
      this.resetForm("bkform");
    },
    
    // 多选框选中数据
    handleSelectionChangeJHCZ(selection) {
      this.jhczIds = selection.map(item => item.czPlanId)
      this.jhczsingle = selection.length!==1
      this.jhczmultiple = !selection.length
    },
    handleSelectionChangeCZ(selection) {
      this.czIds = selection.map(item => item.czId)
      this.czsingle = selection.length!==1
      this.czmultiple = !selection.length
    },
    handleSelectionChangeJL(selection) {
      this.jlIds = selection.map(item => item.jlId)
      this.jlsingle = selection.length!==1
      this.jlmultiple = !selection.length
    },
    handleSelectionChangeJK(selection) {
      this.jkIds = selection.map(item => item.jkId)
      this.jksingle = selection.length!==1
      this.jkmultiple = !selection.length
    },
    handleSelectionChangeBK(selection) {
      this.bkIds = selection.map(item => item.bkId)
      this.bksingle = selection.length!==1
      this.bkmultiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAddJHCZ() {
      if(this.queryParams.conId == null || this.queryParams.conId == 0){
        this.$alert('这选择合同', '项目计量', {
          confirmButtonText: '确定'
        });
        return;
      }
      this.resetJHCZ();
      this.jhczform.conId = this.queryParams.conId;
      this.openJHCZ = true;
      this.jhcztitle = "添加计划产值";
    },
    handleAddCZ() {
      if(this.queryParams.conId == null || this.queryParams.conId == 0){
        this.$alert('这选择合同', '项目计量', {
          confirmButtonText: '确定'
        });
        return;
      }
      this.resetCZ();
      this.czform.conId = this.queryParams.conId;
      this.openCZ = true;
      this.cztitle = "添加产值";
    },
    handleAddJL() {
      if(this.queryParams.conId == null || this.queryParams.conId == 0){
        this.$alert('这选择合同', '项目计量', {
          confirmButtonText: '确定'
        });
        return;
      }
      this.resetJL();
      this.jlform.conId = this.queryParams.conId;
      this.jlform.jlType = 0;

      this.openJL = true;
      this.jltitle = "添加计量";
    },
    handleAddJS() {
      if(this.queryParams.conId == null || this.queryParams.conId == 0){
        this.$alert('这选择合同', '业主计量', {
          confirmButtonText: '确定'
        });
        return;
      }
      this.resetJL();
      this.jlform.conId = this.queryParams.conId;
      this.jlform.jlType = 1;

      this.openJL = true;
      this.jltitle = "添加决算";
    },
    handleAddJK(){
      if(this.queryParams.conId == null || this.queryParams.conId == 0){
        this.$alert('这选择合同', '项目计量', {
          confirmButtonText: '确定'
        });
        return;
      }
      this.resetJKCmp();
      this.resetJK();
      this.jkform.conId = this.queryParams.conId;
      this.jkform.jkSumPF = setMoneyText(this.conForm.pfSum);
      this.openJK = true;
      this.jktitle = "添加业主进款";
    },
    handleAddBK(){
      if(this.queryParams.conId == null || this.queryParams.conId == 0){
        this.$alert('这选择合同', '项目计量', {
          confirmButtonText: '确定'
        });
        return;
      }
      this.resetBK();
      this.bkform.conId = this.queryParams.conId;
      this.bkform.bkSumPF = setMoneyText(this.conForm.pfSum);
      this.bkform.bkSumJK = setMoneyText(this.conForm.yzSum);
      this.bkform.bkSumYF = setMoneyText(this.conForm.ybSum);
      this.openBK = true;
      this.bktitle = "添加总公司拨款";
    },
    /** 修改按钮操作 */
    handleUpdateJHCZ(row) {
      this.resetJHCZ();
      const jhczId = row.czPlanId || this.jhczIds;

      getYzczplan(jhczId).then(response => {
        this.jhczform = response.data;
        this.jhczform.czPlanYear = this.jhczform.czPlanYear + "";
        this.jhczform.czPlanMoney = setMoneyText(this.jhczform.czPlanMoney);
        this.openJHCZ = true;
        this.jhcztitle = "修改计划产值";
      });
    },
    handleUpdateCZ(row) {
      this.resetCZ();
      const czId = row.czId || this.czIds

      getYzcz(czId).then(response => {
        this.czform = response.data;
        this.czform.czMoney = setMoneyText(this.czform.czMoney);
        this.openCZ = true;
        this.cztitle = "修改产值";
      });
    },
    handleUpdateJL(row) {
      this.resetJL();
      const jlId = row.jlId || this.jlIds

      getYzjl(jlId).then(response => {
        this.jlform = response.data;
        this.jlform.jlCz = setMoneyText(this.jlform.jlCz);
        this.jlform.jlPf = setMoneyText(this.jlform.jlPf);
        this.openJL = true;
        this.jltitle = "修改业主计量";
      });
    },
    handleUpdateJK(row){
      this.resetJKCmp();
      this.resetJK();
      const jkId = row.jkId || this.jkIds
      getYzjk(jkId).then(response => {
        this.jkform = response.data;
        this.jkform.jkYfk = setMoneyText(response.data.jkYfk);
        this.jkform.jkGck = setMoneyText(response.data.jkGck);
        this.jkform.jkNmg = setMoneyText(response.data.jkNmg);
        this.jkform.jkSum = setMoneyText(response.data.jkSum);
        this.jkform.jkFGS = setMoneyText(response.data.jkFGS);
        this.jkform.jkBGS = setMoneyText(response.data.jkBGS);
        this.jkform.jkSf = setMoneyText(response.data.jkSf);
        this.jkform.jkGlf = setMoneyText(response.data.jkGlf);
        this.jkform.jkLr = setMoneyText(response.data.jkLr);
        this.jkform.jkYb = setMoneyText(response.data.jkYb);
        this.jkform.jkSumPF = setMoneyText(this.conForm.pfSum);

        this.cmpForm.cmpJLPay = this.jkform.jkCmpFGS;
        this.cmpForm.cmpJLPay.forEach(c=>{
          if(c.cmpMoney == 0){ 
            c.cmpMoney = null; 
          }
          else{
            c.cmpMoney = setMoneyText(c.cmpMoney);
          }
        });
        this.openJK = true;
        this.jktitle = "修改业主进款";
      });
    },
    handleUpdateBK(row){
      this.resetBK();
      const bkId = row.bkId || this.bkIds
      getZgsbk(bkId).then(response => {
        this.bkform = response.data;
        this.bkform.bkGck = setMoneyText(this.bkform.bkGck);
        this.bkform.bkNmg = setMoneyText(this.bkform.bkNmg);
        this.bkform.bkSf = setMoneyText(this.bkform.bkSf);
        this.bkform.bkSumPF = setMoneyText(this.conForm.pfSum);
        this.bkform.bkSumJK = setMoneyText(this.conForm.yzSum);
        this.bkform.bkSumYF = setMoneyText(this.conForm.ybSum);
        this.openBK = true;
        this.bktitle = "修改总公司拨款";
      });
    },
    submitJHCZForm(){
      this.$refs["jhczform"].validate(valid => {
        if (valid) {
          this.jhczform.czPlanMoney = delcommafy(this.jhczform.czPlanMoney);

          if (this.jhczform.czPlanId != null) {
            updateYzczplan(this.jhczform).then(response => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.openJHCZ = false;
                this.getJHCZList();
              }
            }).then(this.getJLConSumData());
          } else {
            addYzczplan(this.jhczform).then(response => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.openJHCZ = false;
                this.getJHCZList();
              }
            }).then(this.getJLConSumData());
          }
        }
      });
    },
    submitCZForm(){
      this.$refs["czform"].validate(valid => {
        if (valid) {
          this.czform.czMoney = delcommafy(this.czform.czMoney);

          if (this.czform.czId != null) {
            updateYzcz(this.czform).then(response => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.openCZ = false;
                this.getCZList();
              }
            }).then(this.getJLConSumData());
          } else {
            addYzcz(this.czform).then(response => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.openCZ = false;
                this.getCZList();
              }
            }).then(this.getJLConSumData());
          }
        }
      });
    },
    submitJLForm(){
      this.$refs["jlform"].validate(valid => {
        if (valid) {
          this.jlform.jlCz = delcommafy(this.jlform.jlCz);
          this.jlform.jlPf = delcommafy(this.jlform.jlPf);

          if (this.jlform.jlId != null) {
            updateYzjl(this.jlform).then(response => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.openJL = false;
                this.getJLList();
              }
            }).then(this.getJLConSumData());
          } else {
            addYzjl(this.jlform).then(response => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.openJL = false;
                this.getJLList();
              }
            }).then(this.getJLConSumData());
          }
        }
      });
    },
    submitJKForm(){
      this.$refs["jkform"].validate(valid => {
        if (valid) {
          this.jkform.jkYfk = delcommafy(this.jkform.jkYfk);
          this.jkform.jkGck = delcommafy(this.jkform.jkGck);
          this.jkform.jkNmg = delcommafy(this.jkform.jkNmg);
          this.jkform.jkSum = delcommafy(this.jkform.jkSum);
          this.jkform.jkFGS = delcommafy(this.jkform.jkFGS);
          this.jkform.jkBGS = delcommafy(this.jkform.jkBGS);
          this.jkform.jkSf = delcommafy(this.jkform.jkSf);
          this.jkform.jkGlf = delcommafy(this.jkform.jkGlf);
          this.jkform.jkLr = delcommafy(this.jkform.jkLr);
          this.jkform.jkYb = delcommafy(this.jkform.jkYb);

          this.jkform.jkCmpFGS.forEach(c=>{
            c.cmpMoney = getMoneyValue(c.cmpMoney);
            c.deleteMark = 0;
          });

          if (this.jkform.jkId != null) {
            updateYzjk(this.jkform).then(response => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.openJK = false;
                this.getJKList();
              }
            }).then(this.getJLConSumData());
          } else {
            addYzjk(this.jkform).then(response => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.openJK = false;
                this.getJKList();
              }
            }).then(this.getJLConSumData());
          }
        }
      });
    },
    submitBKForm(){
      this.$refs["bkform"].validate(valid => {
        if (valid) {
          this.bkform.bkGck = delcommafy(this.bkform.bkGck);
          this.bkform.bkNmg = delcommafy(this.bkform.bkNmg);
          this.bkform.bkSf = delcommafy(this.bkform.bkSf);

          if (this.bkform.bkId != null) {
            updateZgsbk(this.bkform).then(response => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.openBK = false;
                this.getBKList();
              }
            }).then(this.getJLConSumData());
          } else {
            addZgsbk(this.bkform).then(response => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.openBK = false;
                this.getBKList();
              }
            }).then(this.getJLConSumData());
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDeleteJHCZ(row) {
      const jhczIds = row.czPlanId || this.jhczIds;
      this.$confirm('是否确认删除产值编号为["' + row.czPlanNo + '"]的数据?', "警告", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(function() {
          return delYzczplan(jhczIds);
        }).then(() => {
          this.getJHCZList();
          this.getJLConSumData();
          this.msgSuccess("删除成功");
        }).catch(function() {});
    },
    handleDeleteCZ(row) {
      const czIds = row.czId || this.czIds;
      this.$confirm('是否确认删除产值编号为["' + row.czCustNo + '"]的数据?', "警告", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(function() {
          return delYzcz(czIds);
        }).then(() => {
          this.getCZList();
          this.getJLConSumData();
          this.msgSuccess("删除成功");
        }).catch(function() {});
    },
    handleDeleteJL(row) {
      const jlIds = row.jlId || this.jlIds;
      this.$confirm('是否确认删除业主计量编号为["' + row.jlCustNo + '"]的数据?', "警告", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(function() {
          return delYzjl(jlIds);
        }).then(() => {
          this.getJLList();
          this.getJLConSumData();
          this.msgSuccess("删除成功");
        }).catch(function() {});
    },
    handleDeleteJK(row){
      const jkIds = row.jkId || this.jkIds;
      this.$confirm('是否确认删除业主计量编号为["' + row.jkCustNo + '"]的数据?', "警告", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(function() {
          return delYzjk(jkIds);
        }).then(() => {
          this.getJKList();
          this.getJLConSumData();
          this.msgSuccess("删除成功");
        }).catch(function() {});
    },
    handleDeleteBK(row){
      const bkIds = row.bkId || this.bkIds;
      this.$confirm('是否确认删除总公司拨款编号为["' + row.bkCustNo + '"]的数据项?', "警告", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(function() {
          return delZgsbk(bkIds);
        }).then(() => {
          this.getBKList();
          this.getJLConSumData();
          this.msgSuccess("删除成功");
        }).catch(function() {});
    },
    /** 导出按钮操作 old */
    handleExport() {
      const queryParams = this.queryParams;
      const jlIds = this.ids;

      if(jlIds.length == 0){
        this.$alert("请选择导出的计量数据!", "信息");
        return;
      }

      this.$confirm('是否确认导出选中业主计量数据?', "信息", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(function() {
          return exportYzpayment(jlIds);
        }).then(response => {
          alert(response.msg)
          this.download(response.msg);
        }).catch(function() {});
    },
    submitCmpForm(){
      var cmpsummoney = 0;
        this.jkform.jkCmpFGS = JSON.parse(JSON.stringify(this.cmpForm.cmpJLPay));

        this.cmpForm.cmpJLPay.forEach(c => {
          cmpsummoney += getMoneyValue(c.cmpMoney);
        });

        this.jkform.jkFGS = setMoneyText(cmpsummoney);
        this.calculateJKMoney();
        this.openCmpPay = false;
    },
    //old
    getConByName(cname){
      if(cname !== ''){
        this.loading = true;
        setTimeout(()=>{
          this.loading = false;
          getSelectContract(cname, this.conType).then(response => {
            if(response.code === 200){
              this.queryParams.conName = response.data;
            }
          })
        }, 200);
      }
      else{
        this.queryParams.conName = [];
      }
    },
    //old
    validatePayItems(){
      var item1 = this.form.yfMoney;
      var item2 = this.form.gcMoney;
      var item3 = this.form.nmgMoney;

      if(this.form.jlBGSPay == null){
        return false;
      }

      if(item1 == null || item1 == "") { 
        item1 = 0; 
      }
      else{
        item1 = parseFloat(this.form.yfMoney);
      }

      if(item2 == null || item2 == "") { 
        item2 = 0; 
      }
      else{
        item2 = parseFloat(this.form.gcMoney);
      }

      if(item3 == null || item3 == "") { 
        item3 = 0; 
      }
      else{
        item3 = parseFloat(this.form.nmgMoney);
      }

      return ((item1 + item2 + item3) > this.form.jlBGSPay);
    },
    //old
    resetSteps(){
      this.jlsteps.currentStep = 0;
      this.jlsteps.step1 = true;
      this.jlsteps.step2 = false;
      this.jlsteps.step3 = false;
      this.jlsteps.step4 = false;
      this.jlsteps.stepprevious = false;
      this.jlsteps.stepnext = true;
      this.jlsteps.setpfinish = false;
    },
    //old
    gotoPrevious(){
      if(this.jlsteps.currentStep-- == 0){ this.jlsteps.currentStep = 0; }
      this.jlsteps.step1 = (this.jlsteps.currentStep == 0);
      this.jlsteps.step2 = (this.jlsteps.currentStep == 1);
      this.jlsteps.step3 = (this.jlsteps.currentStep == 2);
      this.jlsteps.step4 = (this.jlsteps.currentStep == 3);
      this.jlsteps.stepprevious = (this.jlsteps.currentStep > 0);
      this.jlsteps.stepnext = (this.jlsteps.currentStep < 3);
      this.jlsteps.setpfinish = (this.jlsteps.currentStep == 3);
    },
    //old
    gotoNext(){
      if(!this.validateStep()){ return; }
      if(this.jlsteps.currentStep++ > 3){ this.jlsteps.currentStep = 0; }
      this.jlsteps.step1 = (this.jlsteps.currentStep == 0);
      this.jlsteps.step2 = (this.jlsteps.currentStep == 1);
      this.jlsteps.step3 = (this.jlsteps.currentStep == 2);
      this.jlsteps.step4 = (this.jlsteps.currentStep == 3);
      this.jlsteps.stepprevious = (this.jlsteps.currentStep > 0);
      this.jlsteps.stepnext = (this.jlsteps.currentStep < 3);
      this.jlsteps.setpfinish = (this.jlsteps.currentStep == 3);
    },
    //old
    validateStep(){
      var canNext = true;

      //alert(JSON.stringify)
      this.$refs["form"].validateField(this.jlsteps.validateCol[this.jlsteps.currentStep], valid => {
        canNext = canNext && (valid.length == 0);
      });
      
      return canNext;
    },
    
    handleUpload(row, type){
      var jlId = 0;

      switch(type){
        case 1:
          jlId = row.jlId;
          break;
        case 2:
          jlId = row.jkId;
          break;
        case 3:
          jlId = row.bkId;
          break;
      }

      this.upload.jlId = jlId;
      this.upload.filetype = type;
      this.upload.open = true;

      this.upload.isUploading = true;
      getJLUploadFiles(jlId, type).then(response => {
        this.upload.isUploading = false;
        this.upload.fileList = response.rows;
      });
    },
    // 文件上传中处理
    handleFileUploadProgress(event, file, fileList) {
      this.upload.isUploading = true;
    },
    // 文件上传成功处理
    handleFileSuccess(response, file, fileList) {
      this.upload.upfile.jlId = this.upload.jlId;
      this.upload.upfile.fileType = this.upload.filetype;
      this.upload.upfile.fileName = file.name;
      this.upload.upfile.fileUrl = file.response.fullName;

      saveUploadFile(this.upload.upfile).then(response => {
        //alert(JSON.stringify(response));
        //this.upload.upfile.fileId = response.data.uploadId;
      });

      //check whether all files are completed
      var isdone = true;
      
      fileList.forEach(f=>{
        isdone = isdone && (f.status == "success");
      });
      
      if(isdone){
        this.upload.open = false;
        this.upload.isUploading = false;
        this.$refs.upload.clearFiles();        
      }
    },
    // 提交上传文件
    submitFileForm() {
      this.$refs.upload.submit();
    },
    //calculate jk money
    calculateJKMoney(){
      this.jkform.jkSum = setMoneyText(getMoneyValue(this.jkform.jkYfk) + getMoneyValue(this.jkform.jkGck) + getMoneyValue(this.jkform.jkNmg));
      this.jkform.jkBGS = setMoneyText(getMoneyValue(this.jkform.jkSum) - getMoneyValue(this.jkform.jkFGS));

      this.jkform.jkYb = setMoneyText(getMoneyValue(this.jkform.jkBGS) - getMoneyValue(this.jkform.jkSf) 
                          - getMoneyValue(this.jkform.jkGlf) - getMoneyValue(this.jkform.jkLr));
    },
    calculateSL(){
      this.jkform.jkSf = setMoneyText(getMoneyValue(this.jkform.jkBGS) * getMoneyValue(this.jkform.jkSl) / 100 );
      this.jkform.jkYb = setMoneyText(getMoneyValue(this.jkform.jkBGS) - getMoneyValue(this.jkform.jkSf) 
                          - getMoneyValue(this.jkform.jkGlf) - getMoneyValue(this.jkform.jkLr));
    },
    calculateGLF(){
      this.jkform.jkGlf = setMoneyText(getMoneyValue(this.jkform.jkBGS) * getMoneyValue(this.jkform.jkGlfl) / 100 );
      this.jkform.jkYb = setMoneyText(getMoneyValue(this.jkform.jkBGS) - getMoneyValue(this.jkform.jkSf) 
                          - getMoneyValue(this.jkform.jkGlf) - getMoneyValue(this.jkform.jkLr));
    },
    calculateLR(){
      this.jkform.jkLr = setMoneyText(getMoneyValue(this.jkform.jkBGS) * getMoneyValue(this.jkform.jkLrl) / 100 );
      this.jkform.jkYb = setMoneyText(getMoneyValue(this.jkform.jkBGS) - getMoneyValue(this.jkform.jkSf) 
                          - getMoneyValue(this.jkform.jkGlf) - getMoneyValue(this.jkform.jkLr));
    },
    calculateJKYBMoney(){
      this.jkform.jkYb = setMoneyText(getMoneyValue(this.jkform.jkBGS) - getMoneyValue(this.jkform.jkSf) 
                          - getMoneyValue(this.jkform.jkGlf) - getMoneyValue(this.jkform.jkLr));
    },
    calculateBKMoney(){
      this.bkform.bkSf = setMoneyText(getMoneyValue(this.bkform.bkGck) + getMoneyValue(this.bkform.bkNmg));
    },
    deleteUpload(rIndex, row){
      const uploadId = row.uploadId;

      deleteUploadFile(uploadId).then(response =>{
        this.upload.fileList.splice(rIndex, 1);
      });
    },
    downLoadFile(rIndex, row){
      const uploadId = row.uploadId;
      downloadFile(uploadId);
    }
  }
};
</script>
