<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryForm" :inline="true" v-show="showSearch" label-width="68px">
      <el-row>
        <el-col :span="24">
          <el-form-item label="日期范围">
            <el-date-picker v-model="dtrangeValue" type="daterange" range-separator="-"
              start-placeholder="开始日期" end-placeholder="结束日期">
            </el-date-picker>
          </el-form-item>          
          <el-form-item label="业主单位" prop="conYz">
            <el-select v-model="queryRep.yzdw" clearable filterable placeholder="请选择业主单位" @change="yzdwChange" style="width: 300px;">
              <el-option-group
              v-for="group in yzdwList"
              :key="group.value"
              :label="group.label">
              <el-option
                v-for="item in group.options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-option-group>
            </el-select>
          </el-form-item>
        </el-col>
    </el-row>
    <el-row>
      <el-col :span="24">
        <el-form-item label="合同类型" prop="conType">
          <el-select v-model="queryRep.conType" clearable placeholder="请选择合同类型">
            <el-option
              v-for="dict in conTypeOptions"
              :key="dict.dictValue"
              :label="dict.dictLabel"
              :value="parseInt(dict.dictValue)"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="合同状态" prop="conStatus">
          <el-select v-model="queryRep.conStatus" clearable placeholder="请选择合同状态">
            <el-option
                  v-for="dict in conStatusOptions"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="parseInt(dict.dictValue)"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="结清状态" prop="conJSStatus">
          <el-select v-model="queryRep.conJSStatus" clearable placeholder="请选择结清状态">
            <el-option
                  v-for="dict in conJSStatusOpts"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="parseInt(dict.dictValue)"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="cyan" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        </el-form-item>
      </el-col>
    </el-row>
    </el-form>
    <!--main table-->

    <el-table v-loading="loading" :data="conList" style="width: 100%" :height="tableHeight" @selection-change="handleSelectionChange"> 
      <!--<el-table-column type="selection" width="55" align="center" prop="repId" />-->
      <el-table-column label="编号" align="center" prop="conId" width="80" v-if="showCol" />
      <el-table-column label="业主名称" align="center" prop="yzName" width="300" />
      <el-table-column label="合同" align="center" prop="conName"  width="300" />
      <el-table-column label="开竣工时间" align="center" prop="conPeriod" width="160" />
      <el-table-column label="合同金额" align="center" prop="conMoney"  width="160" :formatter="moneyFormat" />
      <el-table-column label="产值" align="center">
        <el-table-column label="本年计划产值" align="center" prop="czPlan" width="160" :formatter="moneyFormat" />
        <el-table-column label="产值" align="center" width="160" >
          <template slot-scope="scope">
            <el-popover v-if="scope.row.czSum > 0" trigger="hover" placement="right">
              <p v-for="(item, index) in scope.row.czDeatil">
                <span v-if="item.payMoney > 0" v-html="tempFormatMoney(item.payDate, item.payMoney)"></span>
              </p>
              <div slot="reference" class="name-wrapper">
                <el-tag size="medium" v-html="tempFormat(scope.row.czSum)"></el-tag>
              </div>
            </el-popover>
            <span v-else>{{ scope.row.czSum }}</span>
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="批复计量" align="center" width="160" >
        <template slot-scope="scope">
          <el-popover v-if="scope.row.jlPF > 0" trigger="hover" placement="right">
            <p v-for="(item, index) in scope.row.jlDeatil">
              <span v-if="item.payMoney > 0" v-html="tempFormatMoney(item.payDate, item.payMoney)"></span>
            </p>
            <div slot="reference" class="name-wrapper">
              <el-tag size="medium" v-html="tempFormat(scope.row.jlPF)"></el-tag>
            </div>
          </el-popover>
          <span v-else>{{ scope.row.jlPF }}</span>
        </template>
      </el-table-column>
      <el-table-column label="进款" align="center">
        <el-table-column label="业主进款" align="center" width="160" >
          <template slot-scope="scope">
            <el-popover v-if="scope.row.jkSum > 0" trigger="hover" placement="right">
              <p v-for="(item, index) in scope.row.jkDeatil">
                <span v-if="item.payMoney > 0" v-html="tempFormatMoney(item.payDate, item.payMoney)"></span>
              </p>
              <div slot="reference" class="name-wrapper">
                <el-tag size="medium" v-html="tempFormat(scope.row.jkSum)"></el-tag>
              </div>
            </el-popover>
            <span v-else>{{ scope.row.jkSum }}</span>
          </template>
        </el-table-column>
        <el-table-column label="分公司划拨" align="center" width="160" >
          <template slot-scope="scope">
            <el-popover v-if="scope.row.jkFGS > 0" trigger="hover" placement="right">
              <p v-for="(item, index) in scope.row.jkDeatil">
                <span v-if="item.payMoney2 > 0" v-html="tempFormatMoney(item.payDate, item.payMoney2)"></span>
              </p>
              <div slot="reference" class="name-wrapper">
                <el-tag size="medium" v-html="tempFormat(scope.row.jkFGS)"></el-tag>
              </div>
            </el-popover>
            <span v-else>{{ scope.row.jkFGS }}</span>
          </template>
        </el-table-column>
        <el-table-column label="二分划拨" align="center" width="160" >
          <template slot-scope="scope">
            <el-popover v-if="scope.row.jkBGS > 0" trigger="hover" placement="right">
              <p v-for="(item, index) in scope.row.jkDeatil">
                <span v-if="item.payMoney3 > 0" v-html="tempFormatMoney(item.payDate, item.payMoney3)"></span>
              </p>
              <div slot="reference" class="name-wrapper">
                <el-tag size="medium" v-html="tempFormat(scope.row.jkBGS)"></el-tag>
              </div>
            </el-popover>
            <span v-else>{{ scope.row.jkBGS }}</span>
          </template>
        </el-table-column>
        <el-table-column label="税金" align="center" width="160" >
          <template slot-scope="scope">
            <el-popover v-if="scope.row.jkSF > 0" trigger="hover" placement="right">
              <p v-for="(item, index) in scope.row.jkDeatil">
                <span v-if="item.payMoney4 > 0" v-html="tempFormatMoney(item.payDate, item.payMoney4)"></span>
              </p>
              <div slot="reference" class="name-wrapper">
                <el-tag size="medium" v-html="tempFormat(scope.row.jkSF)"></el-tag>
              </div>
            </el-popover>
            <span v-else>{{ scope.row.jkSF }}</span>
          </template>
        </el-table-column>
        <el-table-column label="管理费" align="center" width="160" >
          <template slot-scope="scope">
            <el-popover v-if="scope.row.jkGLF > 0" trigger="hover" placement="right">
              <p v-for="(item, index) in scope.row.jkDeatil">
                <span v-if="item.payMoney5 > 0" v-html="tempFormatMoney(item.payDate, item.payMoney5)"></span>
              </p>
              <div slot="reference" class="name-wrapper">
                <el-tag size="medium" v-html="tempFormat(scope.row.jkGLF)"></el-tag>
              </div>
            </el-popover>
            <span v-else>{{ scope.row.jkGLF }}</span>
          </template>
        </el-table-column>
        <el-table-column label="预留利润" align="center" prop="jkLR" width="160" >
          <template slot-scope="scope">
            <el-popover v-if="scope.row.jkLR > 0" trigger="hover" placement="right">
              <p v-for="(item, index) in scope.row.jkDeatil">
                <span v-if="item.payMoney6 > 0" v-html="tempFormatMoney(item.payDate, item.payMoney6)"></span>
              </p>
              <div slot="reference" class="name-wrapper">
                <el-tag size="medium" v-html="tempFormat(scope.row.jkLR)"></el-tag>
              </div>
            </el-popover>
            <span v-else>{{ scope.row.jkLR }}</span>
          </template>
        </el-table-column>
        <el-table-column label="合计扣减" align="center" prop="jkKJ" width="160" :formatter="moneyFormat" />
        <el-table-column label="总公司应付" align="center" width="160" >
          <template slot-scope="scope">
            <el-popover v-if="scope.row.jkYB > 0" trigger="hover" placement="right">
              <p v-for="(item, index) in scope.row.jkDeatil">
                <span v-if="item.payMoney7 > 0" v-html="tempFormatMoney(item.payDate, item.payMoney7)"></span>
              </p>
              <div slot="reference" class="name-wrapper">
                <el-tag size="medium" v-html="tempFormat(scope.row.jkYB)"></el-tag>
              </div>
            </el-popover>
            <span v-else>{{ scope.row.jkYB }}</span>
          </template>
        </el-table-column>
      </el-table-column>
      <el-table-column label="公司拨款" align="center">
        <el-table-column label="总公司实付" align="center" prop="bkSF" width="160" >
          <template slot-scope="scope">
            <el-popover v-if="scope.row.bkSF > 0" trigger="hover" placement="right">
              <p v-for="(item, index) in scope.row.bkDeatil">
                <span v-if="item.payMoney > 0" v-html="tempFormatMoney(item.payDate, item.payMoney)"></span>
              </p>
              <div slot="reference" class="name-wrapper">
                <el-tag size="medium" v-html="tempFormat(scope.row.bkSF)"></el-tag>
              </div>
            </el-popover>
            <span v-else>{{ scope.row.bkSF }}</span>
          </template>
        </el-table-column>
        <el-table-column label="最后一次付款" align="center" prop="lastBKDate" width="160" :formatter="moneyFormat" />
        <el-table-column label="总公司欠付" align="center" prop="gsqf" width="160" :formatter="moneyFormat" />
      </el-table-column>
      <el-table-column label="总欠款" align="center" prop="zqk" width="160" :formatter="moneyFormat" />
      <el-table-column label="可确认欠款" align="center" prop="kqrqk" width="160" :formatter="moneyFormat" />
      <el-table-column label="未确认欠款" align="center" prop="wqrqk" width="160" :formatter="moneyFormat" />
      <el-table-column label="账龄" align="center" prop="zlDis" width="160" />
      <el-table-column label="账户" align="center" prop="zhDis" width="160" />
      <el-table-column label="负责人" align="center" prop="conRespon" width="160" />
      <el-table-column label="合同状态" align="center" prop="ztDis" width="160" />
      <el-table-column label="结清状态" align="center" prop="jsztDis" width="160" />
    </el-table>
    <!-- bk -->
    <!--
    <el-dialog :title="bktitle" :visible.sync="openBK" width="800px" append-to-body>
      <el-form ref="bkform" :model="bkform" :rules="rules" label-width="100px">
        <el-row>
          <el-col :span="12">
            <el-form-item label="拨款编号" prop="bkCustNo">
              <el-input v-model="bkform.bkCustNo" placeholder="请输入拨款编号" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="拨款日期" prop="bkDate">
              <el-date-picker clearable style="width: 280px"
                v-model="bkform.bkDate"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择拨款日期">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="工程款" prop="bkGck">
              <el-input v-model="bkform.bkGck" placeholder="请输入工程款" @blur="setInputMoney($event);calculateBKMoney();" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="农民工" prop="bkNmg">
              <el-input v-model="bkform.bkNmg" placeholder="请输入农民工" @blur="setInputMoney($event);calculateBKMoney();" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="累计计量批复" prop="bkSumPF">
              {{ bkform.bkSumPF }}
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="累计业主进款" prop="bkSumJK">
              {{ bkform.bkSumJK }}
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="累计应付款" prop="bkSumYF">
              {{ bkform.bkSumYF }}
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="实付款" prop="bkSf">
              <el-input v-model="bkform.bkSf" placeholder="请输入实付款" @blur="setInputMoney($event)" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item label="拨款备注" prop="bkMemo">
          <el-input type="textarea" :rows="3" v-model="bkform.bkMemo" placeholder="请输入备注" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitBKForm">确 定</el-button>
        <el-button @click="cancelBK">取 消</el-button>
      </div>
    </el-dialog>
    -->
  </div>
</template>

<style>
    .el-table .js-row {
    background: #f0f9eb;
  }
</style>

<script>
import { exportYbb, exportNBZQ, exportBK, exportZQ, downloadRep, getSearchResult } from "@/api/szgc_rep/repmain";
//import {  getInputValue, setMoneyText, delcommafy, comdify, isEmptyMoney, getMoneyValue } from '@/utils/index'
import {formatMoney, dateToStr } from '@/utils/index'

export default {
  name: "szgcsearch",
  data() {
    return {
      loading: false,
      ids: [],
      single: true,
      multiple: true,
      showSearch: true,
      total: 0,
      showCol: false,
      dtrangeValue: null,
      conList: [],
      title: "",
      open: false,
      queryRep:{
        startDate: null,
        endDate: null,
        month: null,
        year: null,
        yzdw: null,
        conType: null,
        conStatus: null,
        conJSStatus: null
      },
      tableHeight: 800,
      yzdwList: [],
      conTypeOptions: [],
      conStatusOptions:[],
      conJSStatusOpts: [],
      queryParams: {
        //pageNum: 1,
        //pageSize: 10,
        startdate: null,
        enddate: null
      },
      form: {},
      rules: {
      }
    };
  },
  created() {
    this.setTableHeight();
    this.initdaterange();
    this.getYzdw().then(response => {
      this.yzdwList = response.data;
    });
    this.getDicts("szgc_contract_type").then(response => {
      this.conTypeOptions = response.data;
    });
    this.getDicts("szgc_contract_status").then(response => {
      this.conStatusOptions = response.data.filter(d => d.dictLabel != '完结');
    });
    this.getDicts("szgc_contract_js_status").then(response => {
      this.conJSStatusOpts = response.data;
    });
    this.getList();
  },
  methods: {
    setTableHeight(){
      this.tableHeight = window.innerHeight - 240;
    },
    initdaterange(){
      var date = new Date(), y = date.getFullYear(), m = date.getMonth();

      var bdate = dateToStr(new Date(y, m , 1));
      var edate = dateToStr(new Date(y, m + 1, 0));

      this.dtrangeValue = [bdate, edate];

      this.queryRep.startDate = bdate;
      this.queryRep.endDate = edate;
    },
    /** 查询业主产值列表 */
    getList() {
      this.loading = true;

      getSearchResult(this.queryRep).then(response => {
        this.conList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    tempFormat(val){
      //return val;
      return formatMoney(val, 2);
    },
    tempFormatMoney(cname, cmoney){
      return cname + ': ' + formatMoney(cmoney, 2); //cmoney;
    },
    moneyFormat(row, column, cellValue, index){
      return formatMoney(cellValue, 2);
    },
    /** 导出按钮操作 */    
    yzdwChange(item){
      var currItem = this.yzdwList.find(d => {
        return d.value == item;
      });
    }
  }
};
</script>
