<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryForm" :inline="true" v-show="showSearch" label-width="68px">

      <el-form-item label="日期范围">
          <el-date-picker v-model="dtrangeValue" type="daterange" range-separator="-"
          start-placeholder="开始日期" end-placeholder="结束日期">
        </el-date-picker>
      </el-select>
      </el-form-item>

      <!--
      <el-form-item>
        <el-button type="cyan" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
      </el-form-item>
      -->
    </el-form>
    <!--main table-->

    <el-table v-loading="loading" :data="repList" @selection-change="handleSelectionChange"> 
      <!--<el-table-column type="selection" width="55" align="center" prop="repId" />-->
      <!--<el-table-column label="单位编号" align="center" prop="yzId" width="80" />-->
      <el-table-column label="报表名称" align="left" prop="repName" />
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleExport(scope.row)"
            v-hasPermi="['szgc:report:xls']"
          >导出Excel</el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- bk -->
    <!--
    <el-dialog :title="bktitle" :visible.sync="openBK" width="800px" append-to-body>
      <el-form ref="bkform" :model="bkform" :rules="rules" label-width="100px">
        <el-row>
          <el-col :span="12">
            <el-form-item label="拨款编号" prop="bkCustNo">
              <el-input v-model="bkform.bkCustNo" placeholder="请输入拨款编号" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="拨款日期" prop="bkDate">
              <el-date-picker clearable style="width: 280px"
                v-model="bkform.bkDate"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择拨款日期">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="工程款" prop="bkGck">
              <el-input v-model="bkform.bkGck" placeholder="请输入工程款" @blur="setInputMoney($event);calculateBKMoney();" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="农民工" prop="bkNmg">
              <el-input v-model="bkform.bkNmg" placeholder="请输入农民工" @blur="setInputMoney($event);calculateBKMoney();" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="累计计量批复" prop="bkSumPF">
              {{ bkform.bkSumPF }}
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="累计业主进款" prop="bkSumJK">
              {{ bkform.bkSumJK }}
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="累计应付款" prop="bkSumYF">
              {{ bkform.bkSumYF }}
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="实付款" prop="bkSf">
              <el-input v-model="bkform.bkSf" placeholder="请输入实付款" @blur="setInputMoney($event)" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-form-item label="拨款备注" prop="bkMemo">
          <el-input type="textarea" :rows="3" v-model="bkform.bkMemo" placeholder="请输入备注" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitBKForm">确 定</el-button>
        <el-button @click="cancelBK">取 消</el-button>
      </div>
    </el-dialog>
    -->
  </div>
</template>

<style>
    .el-table .js-row {
    background: #f0f9eb;
  }
</style>

<script>
import { exportYbb, exportNBZQ, exportBK, exportZQ, downloadRep } from "@/api/szgc_rep/repmain";

import { dateToStr } from '@/utils/index'

export default {
  name: "szgcybb",
  data() {
    return {
      loading: false,
      ids: [],
      single: true,
      multiple: true,
      showSearch: true,
      total: 0,
      dtrangeValue: null,
      repList: [],
      title: "",
      open: false,
      queryRep:{
        startDate: '2020-12-01',
        endDate: '2020-12-31',
        month: 12,
        year: 2020
      },
      queryParams: {
        //pageNum: 1,
        //pageSize: 10,
        startdate: null,
        enddate: null
      },
      form: {},
      rules: {
      }
    };
  },
  created() {
    this.initdaterange();
    this.getList();
  },
  methods: {
    initdaterange(){
      var date = new Date(), y = date.getFullYear(), m = date.getMonth();

      var bdate = dateToStr(new Date(y, m , 1));
      var edate = dateToStr(new Date(y, m + 1, 0));

      this.dtrangeValue = [bdate, edate];

      this.queryParams.startdate = bdate;
      this.queryParams.enddate = edate;
    },
    /** 查询业主产值列表 */
    getList() {
      this.repList = [
        { repId: 1, repName: '月报表' },
        { repId: 2, repName: '内部债权' },
        { repId: 3, repName: '公司拨款报表' },
        { repId: 4, repName: '外部债权报表' }
      ]
      /*
      this.loading = true;
      listYzcz(this.queryParams).then(response => {
        this.yzczList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
      */
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        czId: null,
        conId: null,
        czCustNo: null,
        czDate: null,
        czMoney: null,
        czMemo: null,
        createTime: null,
        createBy: null,
        updateTime: null,
        updateBy: null,
        deleteMark: null
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      //this.queryParams.pageNum = 1;
      this.queryParams.startdate = typeof(this.dtrangeValue[0]) == 'string' ? this.dtrangeValue[0] : dateToStr(this.dtrangeValue[0]);
      this.queryParams.enddate = typeof(this.dtrangeValue[1]) == 'string' ? this.dtrangeValue[1] : dateToStr(this.dtrangeValue[1]);
      //alert(bdate + "|||" + edate);
      //this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.czId)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加业主产值";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const czId = row.czId || this.ids
      getYzcz(czId).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "修改业主产值";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.czId != null) {
            updateYzcz(this.form).then(response => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.open = false;
                this.getList();
              }
            });
          } else {
            addYzcz(this.form).then(response => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.open = false;
                this.getList();
              }
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const czIds = row.czId || this.ids;
      this.$confirm('是否确认删除业主产值编号为"' + czIds + '"的数据项?', "警告", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(function() {
          return delYzcz(czIds);
        }).then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        }).catch(function() {});
    },
    handleExport(row) {
      const czIds = row.repId;

      switch(row.repId){
        case 1:
          this.handleExportYbb();
          break;
        case 2:
          this.handleExportNBZQ();
          break;
        case 3:
          this.handleExportBK();
          break;
        case 4:
          this.handleExportZQ();
        default:
      }
    },
    /** 导出按钮操作 */
    /*
    handleExport() {
      const queryParams = this.queryParams;
      this.$confirm('是否确认导出所有业主产值数据项?', "警告", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(function() {
          return exportYzcz(queryParams);
        }).then(response => {
          this.download(response.msg);
        }).catch(function() {});
    },
    */
    handleExportYbb() {
      this.queryRep.startDate = typeof(this.dtrangeValue[0]) == 'string' ? this.dtrangeValue[0] : dateToStr(this.dtrangeValue[0]);
      this.queryRep.endDate = typeof(this.dtrangeValue[1]) == 'string' ? this.dtrangeValue[1] : dateToStr(this.dtrangeValue[1]);

      const queryParams = this.queryRep;
      this.$confirm('是否确认导出月报表?', "信息", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(function() {
          return exportYbb(queryParams);
        }).then(response => {
          //this.download(response.msg);
          downloadRep(response.msg);
        }).catch(function() {});
    },
    handleExportNBZQ() {
      this.queryRep.startDate = typeof(this.dtrangeValue[0]) == 'string' ? this.dtrangeValue[0] : dateToStr(this.dtrangeValue[0]);
      this.queryRep.endDate = typeof(this.dtrangeValue[1]) == 'string' ? this.dtrangeValue[1] : dateToStr(this.dtrangeValue[1]);

      const queryParams = this.queryRep;
      this.$confirm('是否确认导出内部债权报表?', "信息", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(function() {
          return exportNBZQ(queryParams);
        }).then(response => {
          //this.download(response.msg);
          downloadRep(response.msg);
        }).catch(function() {});
    },
    handleExportBK() {
      this.queryRep.startDate = typeof(this.dtrangeValue[0]) == 'string' ? this.dtrangeValue[0] : dateToStr(this.dtrangeValue[0]);
      this.queryRep.endDate = typeof(this.dtrangeValue[1]) == 'string' ? this.dtrangeValue[1] : dateToStr(this.dtrangeValue[1]);

      const queryParams = this.queryRep;
      this.$confirm('是否确认导出公司拨款报表?', "信息", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(function() {
          return exportBK(queryParams);
        }).then(response => {
          //this.download(response.msg);
          downloadRep(response.msg);
        }).catch(function() {});
    },
    handleExportZQ() {
      this.queryRep.startDate = typeof(this.dtrangeValue[0]) == 'string' ? this.dtrangeValue[0] : dateToStr(this.dtrangeValue[0]);
      this.queryRep.endDate = typeof(this.dtrangeValue[1]) == 'string' ? this.dtrangeValue[1] : dateToStr(this.dtrangeValue[1]);

      const queryParams = this.queryRep;
      this.$confirm('是否确认导出公司债权报表?', "信息", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(function() {
          return exportZQ(queryParams);
        }).then(response => {
          //this.download(response.msg);
          downloadRep(response.msg);
        }).catch(function() {});
    }
  }
};
</script>
