<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryForm" :inline="true" v-show="showSearch" label-width="68px">
      <el-form-item label="合同名称" prop="conName">
        <el-input
          v-model="queryParams.conName"
          placeholder="请输入合同名称"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item label="业主单位" prop="conYz">
        <el-select v-model="queryParams.conYz" clearable filterable placeholder="请选择业主单位">
          <el-option-group
            v-for="group in yzdwQuery"
            :key="group.value"
            :label="group.label">
            <el-option
              v-for="item in group.options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-option-group>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="cyan" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['szgc:contract:add']"
        >新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          icon="el-icon-edit"
          size="mini"
          :disabled="single"
          @click="handleUpdate"
          v-hasPermi="['szgc:contract:edit']"
        >修改</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="handleDelete"
          v-hasPermi="['szgc:contract:remove']"
        >删除</el-button>
      </el-col>
	  <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
    </el-row>

    <el-table v-loading="loading" :data="contractList" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" align="center" prop="conId" />
      <el-table-column label="编号" align="center" prop="conCustNo" width="60" />
      <el-table-column label="合同名称" align="center" prop="conName" />
      <!--
      <el-table-column label="开始时间" align="center" prop="conStartDate" width="180">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.conStartDate, '{y}-{m}-{d}') }}</span>
        </template>
      </el-table-column>
      <el-table-column label="结束时间" align="center" prop="conEndDate" width="180">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.conEndDate, '{y}-{m}-{d}') }}</span>
        </template>
      </el-table-column>
      -->
      <el-table-column label="类型" align="center" prop="conType" :formatter="conTypeFormat" />
      <el-table-column label="业主单位" align="center" prop="conYz" :formatter="yzdwFormat" />
      <el-table-column label="合同金额" align="right" prop="conMoney" :formatter="moneyFormat" />
      <el-table-column label="合同状态" align="center" prop="conStatus" :formatter="conStatusFormat" />
      <el-table-column label="结清状态" align="center" prop="conStatus" :formatter="conJSStatusFormat" />
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['szgc:contract:edit']"
          >修改</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit-outline"
            @click="handleUpdateST(scope.row)"
            v-hasPermi="['szgc:contract:edit']"
          >状态</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['szgc:contract:remove']"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    
    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改合同对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="800px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="120px">
        <el-row>
          <el-col :span="12">
            <el-form-item label="合同编号" prop="conCustNo">
              <el-input v-model="form.conCustNo" placeholder="请输入合同编号" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="合同名称" prop="conName">
              <el-input v-model="form.conName" placeholder="请输入合同名称" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="合同类型" prop="conType">
              <el-select v-model="form.conType" placeholder="请选择合同类型">
                <el-option
                  v-for="dict in conTypeOptions"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="parseInt(dict.dictValue)"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="工程天数" prop="conDays">
              <el-input v-model="form.conDays" placeholder="请输入合同名称" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="开始时间" prop="conStartDate">
              <el-date-picker clearable size="small" style="width: 200px"
                v-model="form.conStartDate"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择开始时间">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="结束时间" prop="conEndDate">
              <el-date-picker clearable size="small" style="width: 200px"
                v-model="form.conEndDate"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择结束时间">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="业主单位" prop="conYz">
              <el-select v-model="form.conYz" clearable filterable placeholder="请选择业主单位" @change="yzdwChange" style="width: 600px;">
                <el-option-group
                v-for="group in yzdwList"
                :key="group.value"
                :label="group.label">
                <el-option
                  v-for="item in group.options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-option-group>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="实际开始时间" prop="conRealStartDate">
              <el-date-picker clearable size="small" style="width: 200px"
                v-model="form.conRealStartDate"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择实际开始时间">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="实际竣工时间" prop="conRealEndDate">
              <el-date-picker clearable size="small" style="width: 200px"
                v-model="form.conRealEndDate"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择实际竣工时间">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="合同金额" prop="conMoney" style="width:300px" >
              <el-input v-model="form.conMoney" placeholder="请输入合同金额" maxlength="20" @blur="setInputMoney($event);"/>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="验收时间" prop="conAcceptDate">
              <el-date-picker clearable size="small" style="width: 200px"
                v-model="form.conAcceptDate"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="选择验收时间">
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="项目负责人" prop="conRespon">
              <el-input v-model="form.conRespon" placeholder="项目负责人" maxlength="15" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="合同账户" prop="conStatus">
              <el-select v-model="form.conAccount" placeholder="请选择合同账户">
                <el-option
                  v-for="dict in conAccounts"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="parseInt(dict.dictValue)"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="12">
            <el-form-item label="项目经理" prop="conPM">
              <el-input v-model="form.conPM" placeholder="请输入项目经理" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="项目总工" prop="conLinkMan">
              <el-input v-model="form.conLinkMan" placeholder="请输入项目总工" />
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="备注" prop="memo">
              <el-input type="textarea" :rows="3" v-model="form.memo" placeholder="请输入备注" />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>

    <el-dialog :title="sttitle" :visible.sync="openST" width="400px" append-to-body>
      <el-form ref="form" :model="stform" label-width="80px">
        <el-form-item label="合同编号" prop="conCustNo">
          {{ this.stform.conCustNo }}
        </el-form-item>
        <el-form-item label="合同名称" prop="conName">
          {{ this.stform.conName }}
        </el-form-item>
        <el-form-item label="合同状态" prop="conStatus">
          <el-select v-model="stform.conStatus" placeholder="请选择合同状态">
            <el-option
                  v-for="dict in conStatusOptions"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="parseInt(dict.dictValue)"
            ></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="结清状态" prop="conJSStatus">
          <el-select v-model="stform.conJSStatus" placeholder="请选择结清状态">
            <el-option
                  v-for="dict in conJSStatusOpts"
                  :key="dict.dictValue"
                  :label="dict.dictLabel"
                  :value="parseInt(dict.dictValue)"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitFormST">确 定</el-button>
        <el-button @click="cancelST">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { listContract, getContract, delContract, addContract, updateContract, exportContract } from "@/api/szgc/contract";
import { setMoneyText, getInputValue } from '@/utils/index';

export default {
  name: "Contract",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 合同表格数据
      contractList: [],
      // 弹出层标题
      title: "",
      sttitle: "",
      // 是否显示弹出层
      open: false,
      openST: false,
      yzdwQuery: [],
      yzdwList: [],
      conTypeOptions: [],
      conStatusOptions:[],
      conAccounts:[],
      conJSStatusOpts: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        conName: null,
        conYz: null
      },
      // 表单参数
      form: {},
      stform:{},
      // 表单校验
      rules: {
        conCustNo: [
          { required: true, message: "合同编号不能为空", trigger: "blur" },
        ],
        conName: [
          { required: true, message: "合同名称不能为空", trigger: "blur" },
        ],
        conType: [
          { required: true, message: "合同类型不能为空", trigger: "blur" },
        ],
        conDays: [
          { required: true, message: "工程天数不能为空", trigger: "blur" },
          {
            pattern: /^[0-9]*[1-9][0-9]*$/,
            message: "请输入正确的天数",
            trigger: "blur",
          },
        ],
        conStartDate: [
          { required: true, message: "开始日期不能为空", trigger: "blur" },
        ],
        conEndDate: [
          { required: true, message: "结束日期不能为空", trigger: "blur" },
        ],
        conYz: [
          { required: true, message: "业主单位不能为空", trigger: "blur" },
        ],
        conMoney: [
          { required: true, message: "合同金额不能为空", trigger: "blur" },
          {
            pattern: /(^[1-9]([0-9]+)?(\.[0-9]{1,2})?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/,
            message: "请输入正确的金额",
            trigger: "blur",
          },
        ],
        conLinkPhone: [
          {
            pattern: /^1[3|4|5|6|7|8|9][0-9]\d{8}$/,
            message: "请输入正确的手机号码",
            trigger: "blur",
          },
        ]
      }
    };
  },
  created() {
    this.getYzdw().then(response => {
      //alert(JSON.stringify(response));
      this.yzdwList = response.data;
      this.yzdwQuery = response.data;
    });
    this.getDicts("szgc_contract_type").then(response => {
      this.conTypeOptions = response.data;
    });
    this.getDicts("szgc_contract_status").then(response => {
      this.conStatusOptions = response.data;
    });
    this.getDicts("szgc_contract_bank").then(response => {
      this.conAccounts = response.data;
    });
    this.getDicts("szgc_contract_js_status").then(response => {
      this.conJSStatusOpts = response.data;
    });
    this.getList();
  },
  computed: {
    condayschange(){
      return this.form.conDays;
    },
    constartdatechange(){
      return this.form.conStartDate;
    },
    conenddatechange(){
      return this.form.conEndDate;
    }
  },
  watch: {
    condayschange(val){
      if(this.form.conStartDate == null){ return; }

      if(this.form.conEndDate == null || this.form.conEndDate == ""){
        var sdate = new Date(this.form.conStartDate);
        var edate = new Date((sdate / 1000 + (86400*val)) * 1000);
        this.form.conEndDate = edate.getFullYear() + "-" + (edate.getMonth() + 1) + "-" + edate.getDate();
      }
    },
    constartdatechange(val){
      if(this.form.conDays == null){ return; }

      if(this.form.conEndDate == null ||this.form.conEndDate == ""){
        var sdate = new Date(val);
        var days = parseInt(this.form.conDays);
        var edate = new Date((sdate / 1000 + (86400 * days)) * 1000);
        this.form.conEndDate = edate.getFullYear() + "-" + (edate.getMonth() + 1) + "-" + edate.getDate();
      }
    },
    conenddatechange(val){
      if(this.form.conStartDate == null){ return; }

      if(this.form.conDays == null || this.form.conDays == ""){
        var sdate = new Date(this.form.conStartDate);
        var edate = new Date(val);

        this.form.conDays = (edate - sdate) / (1*24*60*60*1000);
      }
    }
  },
  methods: {
    /** 查询合同列表 */
    getList() {
      this.loading = true;
      listContract(this.queryParams).then(response => {
        this.contractList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    yzdwFormat(row, column) {
      return this.getSelectLabel(this.yzdwList, row.conYz);
    },
    yzdwChange(item){
      //alert(JSON.stringify(item));
      var currItem = this.yzdwList.find(d => {
        return d.value == item;
      });

      this.form.conLinkMan = currItem.extDataA;
      this.form.conLinkPhone = currItem.extDataB;
    },
    moneyFormat(row, column, cellValue, index){
      return setMoneyText(cellValue);
    },
    setInputMoney(el){
      el.target.value = getInputValue(el);
    },
    conTypeFormat(row, column) {
      return this.selectDictLabel(this.conTypeOptions, row.conType);
    },
    conStatusFormat(row, column) {
      return this.selectDictLabel(this.conStatusOptions, row.conStatus);
    },
    conJSStatusFormat(row, column){
      return this.selectDictLabel(this.conJSStatusOpts, row.conJSStatus);
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    cancelST() {
      this.openST = false;
      this.resetST();
    },
    // 表单重置
    reset() {
      this.form = {
        conId: null,
        conCustNo: null,
        conName: null,
        conType: 0,
        conStatus: 0,
        conStartDate: null,
        conEndDate: null,
        conYz: null,
        conRespon: null,
        conLinkMan: null,
        conLinkPhone: null,
        conMoney: null,
        conRealStartDate: null,
        conRealEndDate: null,
        conAcceptDate: null,
        conPM: null,
        conPMPhone: null,
        conDays: null,
        conAccount: 1,
        conJSStatus: 0,
        memo: null
      };
      this.resetForm("form");
    },
    resetST(){
      this.stform = {
        conId: null,
        conCustNo: null,
        conName: null,
        conStatus: 0,
        conJSStatus: 0
      }
      this.resetForm("stform");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.conId)
      this.single = selection.length!==1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.title = "添加合同";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const conId = row.conId || this.ids
      getContract(conId).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "修改合同";
      });
    },
    handleUpdateST(row) {
      this.resetST();
      const conId = row.conId;

      getContract(conId).then(response => {
        this.stform.conId = conId;
        this.stform.conCustNo = response.data.conCustNo;
        this.stform.conName = response.data.conName;
        this.stform.conStatus = response.data.conStatus;
        this.stform.conJSStatus = response.data.conJSStatus;
        this.openST = true;
        this.sttitle = "修改合同状态";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.conId != null) {
            updateContract(this.form).then(response => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.open = false;
                this.getList();
              }
            });
          } else {
            addContract(this.form).then(response => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.open = false;
                this.getList();
              }
            });
          }
        }
      });
    },
    submitFormST() {
      if (this.stform.conId != null) {
        updateContract(this.stform).then(response => {
          if (response.code === 200) {
            this.msgSuccess("修改成功");
            this.openST = false;
            this.getList();
          }
        });
      }
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const conIds = row.conId || this.ids;
      const conName = row.conName;
      this.$confirm('是否确认删除合同["' + conName + '"]的数据项?', "警告", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(function() {
          return delContract(conIds);
        }).then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        }).catch(function() {});
    },
    /** 导出按钮操作 */
    handleExport() {
      const queryParams = this.queryParams;
      this.$confirm('是否确认导出所有合同数据项?', "警告", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(function() {
          return exportContract(queryParams);
        }).then(response => {
          this.download(response.msg);
        }).catch(function() {});
    }
  }
};
</script>
