<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryForm" :inline="true" v-show="showSearch" label-width="68px">
      <el-form-item label="单位名称" prop="yzName">
        <el-input
          v-model="queryParams.yzName"
          placeholder="请输入单位名称"
          clearable
          size="small"
          @keyup.enter.native="handleQuery"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="cyan" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button
          type="primary"
          icon="el-icon-plus"
          size="mini"
          @click="handleAdd"
          v-hasPermi="['szgc:yzdw:add']"
        >新增一级业主</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="success"
          icon="el-icon-plus"
          size="mini"
          :disabled="disableAddYz2"
          @click="handleAdd2"
          v-hasPermi="['szgc:yzdw:add']"
        >新增二级业主</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button
          type="danger"
          icon="el-icon-delete"
          size="mini"
          :disabled="multiple"
          @click="handleDelete"
          v-hasPermi="['szgc:yzdw:remove']"
        >删除</el-button>
      </el-col>
	  <right-toolbar :showSearch.sync="showSearch" @queryTable="getList"></right-toolbar>
    </el-row>

    <el-table v-loading="loading" :data="yzdwList" @selection-change="handleSelectionChange" row-key="yzId"> 
      <el-table-column type="selection" width="55" align="center" prop="yzId" reserve-selection />
      <!--<el-table-column label="单位编号" align="center" prop="yzId" width="80" />-->
      <el-table-column label="单位名称" align="left" prop="yzName" />
      <el-table-column label="类型" align="center" prop="yzType" :formatter="typeFormat" />
      <el-table-column label="联系人" align="center" prop="yzLinkMan" />
      <el-table-column label="联系电话" align="center" prop="yzLinkPhone" />
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="text"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row)"
            v-hasPermi="['szgc:yzdw:edit']"
          >修改</el-button>
          <el-button
            size="mini"
            type="text"
            icon="el-icon-delete"
            @click="handleDelete(scope.row)"
            v-hasPermi="['szgc:yzdw:remove']"
          >删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    
    <pagination
      v-show="total>0"
      :total="total"
      :page.sync="queryParams.pageNum"
      :limit.sync="queryParams.pageSize"
      @pagination="getList"
    />

    <!-- 添加或修改业主单位对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item v-show="form.parentId > 0" label="上级业主">
            {{ this.selYz }}
        </el-form-item>
        <el-form-item label="单位名称" prop="yzName">
          <el-input v-model="form.yzName" placeholder="请输入单位名称" />
        </el-form-item>
        <!--
        <el-form-item label="类型" prop="yzType">
          <el-select v-model="form.yzType" placeholder="请选择类型">
            <el-option
              v-for="dict in yzTypeOptions"
              :key="dict.dictValue"
              :label="dict.dictLabel"
              :value="parseInt(dict.dictValue)"
            ></el-option>
          </el-select>
        </el-form-item>
        -->
        <el-form-item label="联系人" prop="yzLinkMan">
          <el-input v-model="form.yzLinkMan" placeholder="请输入联系人" />
        </el-form-item>
        <el-form-item label="联系电话" prop="yzLinkPhone">
          <el-input v-model="form.yzLinkPhone" placeholder="请输入联系电话" />
        </el-form-item>
        <el-form-item label="备注" prop="memo">
          <el-input v-model="form.memo" type="textarea" placeholder="请输入内容" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { listYzdw, getYzdw, delYzdw, addYzdw, updateYzdw, exportYzdw } from "@/api/szgc/yzdw";

export default {
  name: "Yzdw",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 
      disableAddYz2: true,
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      //选择的一级业主
      selYz: '',
      // 总条数
      total: 0,
      // 业主单位表格数据
      yzdwList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 类型字典
      yzTypeOptions: [],
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        yzName: null
      },
      // 表单参数
      form: {},
      // 表单校验
      rules: {
        yzName: [
          { required: true, message: "单位名称不能为空", trigger: "blur" },
        ],
        yzType: [
          { required: true, message: "请选择单位类型", trigger: "blur" },
        ],
        yzLinkPhone: [
          {
            pattern: /^1[3|4|5|6|7|8|9][0-9]\d{8}$/,
            message: "请输入正确的手机号码",
            trigger: "blur",
          },
        ]
      }
    };
  },
  created() {
    this.getList();
    /*
    this.getDicts("szgc_yz_type").then(response => {
      this.yzTypeOptions = response.data;
    });
    */
  },
  methods: {
    /** 查询业主单位列表 */
    getList() {
      this.loading = true;
      listYzdw(this.queryParams).then(response => {
        this.yzdwList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    // 类型字典翻译
    yzTypeFormat(row, column) {
      return this.selectDictLabel(this.yzTypeOptions, row.yzType);
    },
    typeFormat(row, column) {
      if (row.parentId == 0) {
        return "一级业主";
      }
      return "二级业主";
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        yzId: null,
        parentId: null,
        yzName: null,
        yzType: null,
        yzLinkMan: null,
        yzLinkPhone: null,
        memo: null
      };
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.yzId)
      this.single = selection.length!==1
      this.multiple = !selection.length

      if(selection.length == 0){
        this.selYz = '';
        this.disableAddYz2 = true;
      }
      else{
        if(selection[0].parentId == 0){
          this.selYz = selection[0].yzName;
          this.disableAddYz2 = false;
        }  
      }
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.form.parentId = 0;
      this.title = "添加业主单位";
    },
    handleAdd2() {
      this.reset();
      this.open = true;
      this.form.parentId = this.ids[0];
      this.title = "添加业主单位";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const yzId = row.yzId || this.ids
      getYzdw(yzId).then(response => {
        this.form = response.data;
        this.open = true;
        this.title = "修改业主单位";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.yzId != null) {
            updateYzdw(this.form).then(response => {
              if (response.code === 200) {
                this.msgSuccess("修改成功");
                this.open = false;
                this.getList();
              }
            });
          } else {
            addYzdw(this.form).then(response => {
              if (response.code === 200) {
                this.msgSuccess("新增成功");
                this.open = false;
                this.getList();
              }
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const yzIds = row.yzId || this.ids;

      var strMsg = "";
      if(row.yzName == null){
        strMsg = '是否确认删除这些数据？';
      }
      else{
        strMsg = '是否确认删除["' + row.yzName + '"]的数据项?';
      }

      this.$confirm(strMsg, "警告", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(function() {
          return delYzdw(yzIds);
        }).then(() => {
          this.getList();
          this.msgSuccess("删除成功");
        }).catch(function() {});
    },
    /** 导出按钮操作 */
    handleExport() {
      const queryParams = this.queryParams;
      this.$confirm('是否确认导出所有业主单位数据项?', "警告", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        }).then(function() {
          return exportYzdw(queryParams);
        }).then(response => {
          this.download(response.msg);
        }).catch(function() {});
    }
  }
};
</script>
